<!-- the following scripts are used in demo only for onpage help and you don't need them -->
<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/ace.onpage-help.css') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename='docs/assets/js/themes/sunburst.css') }}" />

<script type="text/javascript"> ace.vars['base'] = '..'; </script>
<script src="{{ url_for('static',filename='assets/js/ace/elements.onpage-help.js') }}" />
<script src="{{ url_for('static',filename='assets/js/ace/ace.onpage-help.js') }}" />
<script src="{{ url_for('static',filename='docs/assets/js/rainbow.js') }}" />
<script src="{{ url_for('static',filename='docs/assets/js/language/generic.js') }}" />
<script src="{{ url_for('static',filename='docs/assets/js/language/html.js') }}" />
<script src="{{ url_for('static',filename='docs/assets/js/language/css.js') }}" />
<script src="{{ url_for('static',filename='docs/assets/js/language/javascript.js') }}" />
