{% extends "base.html" %}
{% block content %}
<!-- /section:settings.box -->
<div class="page-header">
    <h1>
        전문가
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            전문가 관리
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
            <div class="col-xs-12">
                <table id="simple-table" class="table  table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" />
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th class="detail-col">Details</th>
                            <th>id</th>
                            <th>이름</th>
                            <th class="hidden-480">소개</th>
                            <th>주소</th>
                            <th>전화번호</th>
                            <th>웹사이트</th>

                            <th>
                                <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                created_at
                            </th>
                            <th class="hidden-480">Status</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for company in pros %}
                    <tr>
                        <td class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </td>

                        <td class="center">
                            <div class="action-buttons">
                                <a href="#" class="green bigger-140 show-details-btn" title="Show Details">
                                    <i class="ace-icon fa fa-angle-double-down"></i>
                                    <span class="sr-only">Details</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            {{ company.company.id }}
                        </td>

                        <td>
                            <a href="#">{{ company.user.username }}</a>
                        </td>
                        <td class="hidden-480">{{ company.company.company_introduction }}</td>
                        <td>{{ company.company.company_si }}{{ company.company.company_gu }}{{ company.company.company_dong }}{{ company.company.company_address }}</td>
                        <td>{{ company.company.company_tel }}</td>
                        <td>{{ company.company.company_website }}</td>
                        <td>{{ company.user.created_at }}</td>

                        <td class="hidden-480">
                            <span class="label label-sm label-success">{{ company.status_name }}</span>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div><!-- /.span -->
        </div><!-- /.row -->
    </div>
</div>
<script type="text/javascript">
            jQuery(function($) {
                /***************/
                $('.show-details-btn').on('click', function(e) {
                    e.preventDefault();
                    $(this).closest('tr').next().toggleClass('open');
                    $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
                });
                /***************/
                
                
                
                
                
            
            })
$('#simple-table').Tabledit({
    columns: {
        identifier: [2,'id'],
        editable: [[4,'introduction'],[6,'tel'],[7,'website'],[9,'status','{"1": "accept", "2": "return"}']]
    },
url: "{{url_for('pros_edit')}}"
});
        </script>
{% endblock %}
