{% extends "base.html" %}
{% block content %}
<!-- /section:settings.box -->
<div class="page-header">
    <h1>
        질문답변 답변 
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
        질문답변 답변
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
            <div class="col-xs-12">
                {{ pagination.info }}
                <table id="simple-table" class="table  table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" />
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th class="detail-col">Details</th>
                            <th>id</th>
                            <th>질문</th>
                            <th>username</th>
                            <th class="hidden-480">body</th>

                            <th>
                                <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                created_at
                            </th>

                        </tr>
                    </thead>

                    <tbody>
                    {% for qna_a in qna_as %}
                    <tr>
                        <td class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </td>

                        <td class="center">
                            <div class="action-buttons">
                                <a href="#" class="green bigger-140 show-details-btn" title="Show Details">
                                    <i class="ace-icon fa fa-angle-double-down"></i>
                                    <span class="sr-only">Details</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            {{ qna_a.qna_a.id }}
                        </td>

                        <td>
                            <a href="#">{{ qna_a.qna_q.body }}</a>
                        </td>
                        <td>{{ qna_a.user.username }}</td>
                        <td class="hidden-480">{{ qna_a.qna_a.body }}</td>
                        <td>{{ qna_a.qna_a.created_at }}</td>

                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <center>
                    {{ pagination.links }}
                </center>
            </div><!-- /.span -->
        </div><!-- /.row -->
    </div>
</div>
<script type="text/javascript">
    jQuery(function($) {
            $('.pagination ul').addClass('pagination');
        /***************/
        $('.show-details-btn').on('click', function(e) {
            e.preventDefault();
            $(this).closest('tr').next().toggleClass('open');
            $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
        });
        /***************/
    });
$('#simple-table').Tabledit({
    columns: {
        identifier: [2,'id'],
        editable: [[3,'title'],[5,'body'],[7,'status','{"1": "accept", "2": "return"}']]
    },
url: "{{url_for('qna_a_edit')}}"
});

</script>
{% endblock %}
