<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    -->
    <link rel="stylesheet" href="{{  url_for('static',filename='bootstrap/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{  url_for('static',filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{  url_for('static',filename='css/twitter_card.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
    </script>
    <script>
        paceOptions = {
            elements: true
        };
    </script>
    <style type="text/css">
        form input#username,
        form input#email,
        form input#password,
        form textarea#introduction,
        form input#address,
        form input#tel,
        form input#website {
            border-color: #DDDDDD;
            -webkit-border-radius: 3px 0 0 3px;
            -moz-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
            border-style: solid;
            border-width: 2px 1px 1px 2px;
            color: #888888;
            font-size: 14px;
            height: 36px;
            width: 100%;
        }
        form textarea#introduction {
            height: 100px;
        }
        form input#website {
            margin-bottom: 10px;
        }
        form input#username:hover,
        form input#email:hover,
        form input#password:hover,
        form input#address:hover,
        form textarea#introduction:hover,
        form input#tel:hover,
        form input#website:hover {
            border-color: #EEEEEE;
            outline: 0 none;
        }

        form input#username:focus,
        form input#email:focus,
        form input#password:focus,
        form textarea#introduction:focus,
        form input#address:focus,
        form input#tel:focus,
        form input#website:focus {
            border-color: #EEEEEE;
            outline: 0 none;
        }
    </style>
    <script src="{{  url_for('static',filename='js/pace.min.js') }} "></script>
</head>
<body>

<!-- Modal login -->
<div class="modal signUpContent fade" id="ModalLogin" tabindex="-1" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h3 class="modal-title-site text-center"> Login </h3>
            </div>
            <div class="modal-body">
                <!-- user loginForm -->
                <form action="{{ url_for('signin') }}" method=post>
                    {{ signinForm.hidden_tag() }}
                <div class="form-group login-username">
                    <div>
                        {% for message in signinForm.email.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ signinForm.email(placeholder="Enter email") }}
                        <!--
                        <input name="log" id="login-user" class="form-control input" size="20"
                               placeholder="Enter Username" type="text">
                               -->
                    </div>
                </div>
                <div class="form-group login-password">
                    <div>
                        {% for message in signinForm.password.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ signinForm.password(placeholder="Enter your password") }}
                        <!--
                        <input name="Password" id="login-password" class="form-control input" size="20"
                               placeholder="Password" type="password">
                               -->
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <div>
                        <div class="checkbox login-remember">
                            <label>
                                <input name="rememberme" value="forever" checked="checked" type="checkbox">
                                Remember Me </label>
                        </div>
                    </div>
                </div>
                -->
                <div>
                    <div>
                        <input name="submit" class="btn  btn-block btn-lg btn-primary" value="LOGIN" type="submit">
                    </div>
                </div>
                    </form>
                <!--userForm-->

            </div>
            <div class="modal-footer">
                <p class="text-center"> Not here before? <a data-toggle="modal" data-dismiss="modal"
                                                            href="#ModalSignup"> Sign Up </a> <br>
                    <a href="forgot-password.html"> Lost your password? </a></p>
            </div>
        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Company Modal Start-->
<div class="modal signUpContent fade" id="ModalCompanySignup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h3 class="modal-title-site text-center"> Company REGISTER </h3>
            </div>
            <div class="modal-body">
                <!-- User form start-->
                <form action="{{ url_for('company_signup') }}" method=post enctype="multipart/form-data">
                    {{ companySignupForm.hidden_tag() }}
                <div class="form-group reg-username">
                    <div>
                        {% for message in companySignupForm.username.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.username(placeholder="Enter your company name") }}
                    </div>
                </div>
                <div class="form-group reg-email">
                    <div>
                        {% for message in companySignupForm.email.errors %}
                            <div class="flash">{{  message }}</div>
                        {% endfor %}
                        {{ companySignupForm.email(placeholder="Enter your company Email") }}
                    </div>
                </div>
                <div class="form-group reg-password">
                    <div>
                        {% for message in companySignupForm.password.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.password(placeholder="Enter your password") }}
                    </div>
                </div>
                <div class="form-group ">
                    <div>
                        {% for message in companySignupForm.introduction.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.introduction(placeholder="Enter your company introduction") }}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        {% for message in companySignupForm.address.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.address(placeholder="Enter your company address") }}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        {% for meesage in companySignupForm.tel.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.tel(placeholder="Enter your company telephon number") }}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        {% for message in companySignupForm.website.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.website(placeholder="Enter your company website address") }}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        {% for message in companySignupForm.pros_category.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.pros_category }}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                    {% for message in companySignupForm.filename.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                    {{ companySignupForm.filename(id="uploadImageContainer") }}
                    </div>
                </div>

                <div>
                    <div>
                        <input name="submit" class="btn  btn-block btn-lg btn-primary" value="REGISTER" type="submit">
                    </div>
                </div>
                </form>
                <!--userForm-->

            </div>
            <div class="modal-footer">
                <p class="text-center"> Already member? <a data-toggle="modal" data-dismiss="modal" href="#ModalLogin">
                    Sign in </a></p>
            </div>
        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->

</div>
<!-- /.CompanyModalSignup End -->
<!-- Modal Signup start -->
<div class="modal signUpContent fade" id="ModalSignup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h3 class="modal-title-site text-center"> REGISTER </h3>
            </div>
            <div class="modal-body">
                <p class="text-center"> 기업회원으로 가입하시겠습니까? <a data-toggle="modal" data-dismiss="modal" href="#ModalCompanySignup">
                기업 회원으로 가입하기</a></p>
                <div class="control-group"><a class="fb_button btn  btn-block btn-lg " href="#"> SIGNUP WITH
                    FACEBOOK </a></div>
                <h5 style="padding:10px 0 10px 0;" class="text-center"> OR </h5>

                <!-- User form start-->
                <form action="{{ url_for('signup') }}" method=post>
                    {{ signupForm.hidden_tag() }}
                <div class="form-group reg-username">
                    <div>
                        {% for message in signupForm.username.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ signupForm.username(placeholder="Enter username") }}
                        <!--
                        <input name="login" class="form-control input" size="20" placeholder="Enter Username"
                               type="text">
                               -->
                    </div>
                </div>
                <div class="form-group reg-email">
                    <div>
                        {% for message in signupForm.email.errors %}
                            <div class="flash">{{  message }}</div>
                        {% endfor %}
                        {{ signupForm.email(placeholder="Enter your Email") }}
                        <!--
                        <input name="reg" class="form-control input" size="20" placeholder="Enter Email" type="text">
                        -->
                    </div>
                </div>
                <div class="form-group reg-password">
                    <div>
                        {% for message in signupForm.password.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ signupForm.password(placeholder="Enter your password") }}
                        <!--
                        <input name="password" class="form-control input" size="20" placeholder="Password"
                               type="password">
                               -->
                    </div>
                </div>
                <div>
                    <div>
                        <input name="submit" class="btn  btn-block btn-lg btn-primary" value="REGISTER" type="submit">
                    </div>
                </div>
                </form>
                <!--userForm-->

            </div>
            <div class="modal-footer">
                <p class="text-center"> Already member? <a data-toggle="modal" data-dismiss="modal" href="#ModalLogin">
                    Sign in </a></p>
            </div>
        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->

</div>
<!-- /.ModalSignup End -->

<!-- Fixed navbar start -->
<div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
    <div class="navbar-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                    <div class="pull-left ">
                        <ul class="userMenu ">
                            <li><a href="#"> <span class="hidden-xs">Search bar</span><i
                                    class="glyphicon glyphicon-info-sign hide visible-xs "></i> </a></li>
                        </ul>
                    </div>
                </div>
                <!-- User Menu start -->
                {% if session.logged_in %}
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
                    <div class="pull-right">
                        <ul class="userMenu">
                            <li><a href="{{ url_for('write_feed') }}">글쓰기
                            <i class="glyphicon glyphicon-log-in hide visible-xs "></i> </a></li>
                            <li><a href="/user_portfolio/{{ session['user_id'] }}"><span class="hidden-xs">{{ session['username'] }}님 환영합니다</span>
                            <i class="glyphicon glyphicon-log-in hide visible-xs "></i> </a></li>
                            <li><a href="{{ url_for('signout') }}">Sign out</a></li>
                        </ul>
                    </div>
                </div>
                {% elif not session.logged_in %}
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
                    <div class="pull-right">
                        <ul class="userMenu">
                            <li><a href="#" data-toggle="modal" data-target="#ModalLogin"> <span class="hidden-xs">Sign In</span>
                                <i class="glyphicon glyphicon-log-in hide visible-xs "></i> </a></li>
                            <li class="hidden-xs"><a href="#" data-toggle="modal" data-target="#ModalSignup"> Create Account </a></li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                <!-- user menu end -->
            </div>
        </div>
    </div>
    <!--/.navbar-top-->

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                    class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span
                    class="icon-bar"> </span> <span class="icon-bar"> </span></button>
            <a class="navbar-brand " href="/"> LOGO </a>

            <!-- this part for mobile -->
            <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
                <div class="input-group">
                    <button class="btn btn-nobg getFullSearch" type="button"><i class="fa fa-search"> </i></button>
                </div>
                <!-- /input-group -->
            </div>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown megamenu-40width"><a class="dropdown-toggle" href="/photos/"> Photos <b class="caret"> </b> </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content ">
                            <ul class="col-lg-6  col-sm-6 col-md-6 unstyled noMarginLeft newCollectionUl">
                                <li class="no-border">
                                    <p class="promo-1"><strong> 주거공간 </strong></p>
                                </li>
                                <li><a href="/photos/"> 주방 </a></li>
                                <li><a href="#"> 화장실 </a></li>
                                <li><a href="#"> 방 </a></li>
                                <li><a href="#"> 거실 </a></li>
                                <li><a href="#"> 현관 </a></li>
                                <li><a href="#"> 기타 </a></li>
                            </ul>
                            <ul class="col-lg-6  col-sm-6 col-md-6 unstyled noMarginLeft newCollectionUl">
                                <li class="no-border">
                                    <p class="promo-1"><strong> 상업공간 </strong></p>
                                </li>
                                <li><a href="#"> 카페 </a></li>
                                <li><a href="#"> 식당 </a></li>
                                <li><a href="#"> 사무실 </a></li>
                                <li><a href="#"> 기타 </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown megamenu-fullwidth"><a  class="dropdown-toggle" href="/find_pros/"> Findpros <b class="caret"> </b> </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content ">
                            <ul class="col-lg-3  col-sm-3 col-md-3 unstyled noMarginLeft newCollectionUl">
                                <li class="no-border">
                                    <p class="promo-1"><strong> category2 </strong></p>
                                </li>
                                <li><a href="/find_pros"> 지역별 검색</a></li>
                                <li><a href="/find_pros/1"> 주거 인테리어</a></li>
                                <li><a href="/find_pros/2"> 상업 인테리어</a></li>
                                <li><a href="/find_pros/3"> 가구</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown megamenu-fullwidth"><a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    Shop <b class="caret"> </b> </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content">

                            <!-- megamenu-content -->

                            <h3 class="promo-1 no-margin hidden-xs"> SHOP </h3>

                            <h3 class="promo-1sub hidden-xs"> shop </h3>
                            <ul class="col-lg-2  col-sm-2 col-md-2 unstyled">
                                <li class="no-border">
                                    <p><strong> category1 </strong></p>
                                </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                            </ul>
                            <ul class="col-lg-2  col-sm-2 col-md-2 unstyled">
                                <li class="no-border">
                                    <p><strong> category2 </strong></p>
                                </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                            </ul>
                            <ul class="col-lg-2  col-sm-2 col-md-2 unstyled">
                                <li class="no-border">
                                    <p><strong> &nbsp; </strong></p>
                                </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                            </ul>
                            <ul class="col-lg-2  col-sm-2 col-md-2 unstyled">
                                <li class="no-border">
                                    <p><strong> category3 </strong></p>
                                </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            </div>
            <!--/.navbar-nav hidden-xs-->
        </div>
        <!--/.nav-collapse -->

    </div>
    <!--/.container -->

    <div class="search-full text-right"><a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i> </a>

        <div class="searchInputBox pull-right">
            <input type="search" data-searchurl="search?=" name="q" placeholder="start typing and hit enter to search"
                   class="search-input">
            <button class="btn-nobg search-btn" type="submit"><i class="fa fa-search"> </i></button>
        </div>
    </div>
    <!--/.search-full-->

</div>

{% block content %}{% endblock %}

<!-- Placed at the end of the document so the pages load faster -->
<script src="{{  url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script>
    // this script required for subscribe modal
    $(window).load(function () {
        // full load
        $('#modalAds').modal('show');
        $('#modalAds').removeClass('hide');
    });

</script>

<!-- include jqueryCycle plugin -->
<script src="{{  url_for('static',filename='js/jquery.cycle2.min.js') }}"></script>
<!-- include easing plugin -->
<script src="{{  url_for('static',filename='js/jquery.easing.1.3.js') }}"></script>

<!-- include  parallax plugin -->
<script src="{{  url_for('static',filename='js/jquery/parallax-1.1.js') }}"></script>

<!-- optionally include helper plugins -->
<script src="{{  url_for('static',filename='js/helper-plugins/jquery.mousewheel.min.js') }}"></script>

<!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

<script src="{{  url_for('static',filename='js/jquery.mCustomScrollbar.js') }}"></script>

<!-- include checkRadio plugin //Custom check & Radio  -->
<script src="{{  url_for('static',filename='js/ion-checkRadio/ion.checkRadio.min.js') }}"></script>

<!-- include grid.js // for equal Div height  -->
<script src="{{  url_for('static',filename='js/grids.js') }}"></script>

<!-- include carousel slider plugin  -->
<script src="{{  url_for('static',filename='js/owl.carousel.min.js') }}"></script>

<!-- jQuery minimalect // custom select   -->
<script src="{{  url_for('static',filename='js/jquery.minimalect.min.js') }}"></script>

<!-- include touchspin.js // touch friendly input spinner component   -->
<script src="{{  url_for('static',filename='js/bootstrap.touchspin.js') }}"></script>

<!-- include custom script for only homepage  -->
<script src="{{  url_for('static',filename='js/home.js') }}"></script>
<!-- include custom script for site  -->
<script src="{{  url_for('static',filename='js/script.js') }}"></script>
<script>

</script>
</body>
</html>
