<!-- Fixed navbar start -->
<div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
    <div class="navbar-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                    <div class="pull-left ">
                        <ul class="userMenu ">
                            <li><a href="#"> <span class="hidden-xs">Search bar</span><i
                                    class="glyphicon glyphicon-info-sign hide visible-xs "></i> </a></li>
                        </ul>
                    </div>
                </div>
                <!-- User Menu start -->
                {% if session.logged_in %}
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
                    <div class="pull-right">
                        <ul class="userMenu">
                            <li><a href="{{ url_for('write_feed') }}">글쓰기
                            <i class="glyphicon glyphicon-log-in hide visible-xs "></i> </a></li>
                            {% if session['is_company'] %}
                                <li><a href="/company_portfolio/{{ session['user_id'] }}"><span class="hidden-xs">{{ session['username'] }}님 환영합니다</span>
                            {% endif %}
                            {% if not session['is_company'] %}
                            <li><a href="/user_portfolio/{{ session['user_id'] }}"><span class="hidden-xs">{{ session['username'] }}님 환영합니다</span>
                            {% endif %}
                            <i class="glyphicon glyphicon-log-in hide visible-xs "></i> </a></li>
                            <li><a href="{{ url_for('signout') }}">Sign out</a></li>
                        </ul>
                    </div>
                </div>
                {% elif not session.logged_in %}
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
                    <div class="pull-right">
                        <ul class="userMenu">
                            <li><a href="#" data-toggle="modal" data-target="#ModalLogin"> <span class="hidden-xs">Sign In</span>
                                <i class="glyphicon glyphicon-log-in hide visible-xs "></i> </a></li>
                            <li class="hidden-xs"><a href="#" data-toggle="modal" data-target="#ModalSignup"> Create Account </a></li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                <!-- user menu end -->
            </div>
        </div>
    </div>
    <!--/.navbar-top-->

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                    class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span
                    class="icon-bar"> </span> <span class="icon-bar"> </span></button>
            <a class="navbar-brand " href="/"> LOGO </a>

            <!-- this part for mobile -->
            <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
                <div class="input-group">
                    <button class="btn btn-nobg getFullSearch" type="button"><i class="fa fa-search"> </i></button>
                </div>
                <!-- /input-group -->
            </div>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown megamenu-40width"><a class="dropdown-toggle" href="/photos/"> Photos <b class="caret"> </b> </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content ">
                            <ul class="col-lg-6  col-sm-6 col-md-6 unstyled noMarginLeft newCollectionUl">
                                <li class="no-border">
                                    <p class="promo-1"><strong> 주거공간 </strong></p>
                                </li>
                                <li><a href="/photos/1"> 주방 </a></li>
                                <li><a href="/photos/2"> 화장실 </a></li>
                                <li><a href="/photos/3"> 방 </a></li>
                                <li><a href="/photos/4"> 거실 </a></li>
                                <li><a href="/photos/5"> 현관 </a></li>
                                <li><a href="/photos/6"> 기타 </a></li>
                            </ul>
                            <ul class="col-lg-6  col-sm-6 col-md-6 unstyled noMarginLeft newCollectionUl">
                                <li class="no-border">
                                    <p class="promo-1"><strong> 상업공간 </strong></p>
                                </li>
                                <li><a href="/photos/7"> 카페 </a></li>
                                <li><a href="/photos/8"> 식당 </a></li>
                                <li><a href="/photos/9"> 사무실 </a></li>
                                <li><a href="/photos/10"> 기타 </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown megamenu-40width"><a  class="dropdown-toggle" href="/find_pros/"> Findpros <b class="caret"> </b> </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content ">
                            <ul class="col-lg-6  col-sm-6 col-md-6 unstyled noMarginLeft newCollectionUl">
                                <li class="no-border">
                                    <p class="promo-1"><strong> Find pros </strong></p>
                                </li>
                                <li><a href="/find_pros"> 지역별 검색</a></li>
                                <li><a href="/find_pros/1"> 주거 인테리어</a></li>
                                <li><a href="/find_pros/2"> 상업 인테리어</a></li>
                                <li><a href="/find_pros/3"> 가구</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown megamenu-fullwidth"><a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    Shop <b class="caret"> </b> </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content">

                            <!-- megamenu-content -->

                            <h3 class="promo-1 no-margin hidden-xs"> SHOP </h3>

                            <h3 class="promo-1sub hidden-xs"> shop </h3>
                            <ul class="col-lg-2  col-sm-2 col-md-2 unstyled">
                                <li class="no-border">
                                    <p><strong> category1 </strong></p>
                                </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                            </ul>
                            <ul class="col-lg-2  col-sm-2 col-md-2 unstyled">
                                <li class="no-border">
                                    <p><strong> category2 </strong></p>
                                </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                            </ul>
                            <ul class="col-lg-2  col-sm-2 col-md-2 unstyled">
                                <li class="no-border">
                                    <p><strong> &nbsp; </strong></p>
                                </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                            </ul>
                            <ul class="col-lg-2  col-sm-2 col-md-2 unstyled">
                                <li class="no-border">
                                    <p><strong> category3 </strong></p>
                                </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                                <li> <a href="#">category</a> </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            </div>
            <!--/.navbar-nav hidden-xs-->
        </div>
        <!--/.nav-collapse -->

    </div>
    <!--/.container -->

    <div class="search-full text-right"><a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i> </a>

        <div class="searchInputBox pull-right">
            <input type="search" data-searchurl="search?=" name="q" placeholder="start typing and hit enter to search"
                   class="search-input">
            <button class="btn-nobg search-btn" type="submit"><i class="fa fa-search"> </i></button>
        </div>
    </div>
    <!--/.search-full-->

</div>