<style>
    input#search-bar {
        border-color: #DDDDDD;

        -webkit-border-radius: 0px 3px 3px 0px;
        -moz-border-radius: 0px 3px 3px 0px;
        border-radius: 0px 3px 3px 0px;
        border: 1px solid #dddddd;
        /*
        border-width: 2px 1px 1px 2px;
        */
        color: #888888;
        font-size: 14px;
        line-height: 20px;
        height: 30px;
        width: 450px;
        margin: 5px 0px 5px 0px;
        vertical-align: middle;
        display: block;
    }
    input#search-bar:hover {
        border-color: #EEEEEE;
        outline: 0 none;
    }
    input#search-bar:focus {
        border-color: #EEEEEE;
        outline: 0 none;
    }
</style>
<!-- Fixed navbar start -->

<div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation" style="margin-bottom: 0px;">
    <div class="navbar-top hidden-xs" style="height:37px;margin-top:11px;margin-bottom:11px;">
        <div class="container">
            <div class="row navbar-collapse collapse">
<div class="navbar-header">
    <!--
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span
                        class="icon-bar"> </span> <span class="icon-bar"> </span></button>
                        -->

                <a  href="/"> <img src="{{ url_for('static',filename='img/logo_2016_04_28.png') }}" style="height:45px;margin-top:-8px;"> </a>
            </div>


                    <div class="pull-left " style="margin-left:24px;">
                        <ul class="userMenu ">
                            <li style="height:37px;">
                            <div id="search-icon" style="width:37px;height:37px;background-color:white;border:1px solid #eeeeee;border-right:0px;text-align:center;">
                                <i class="fa fa-search fa-2x" style="color:#dddddd;margin:0;display:inline-block;text-align:center;vertical-align:bottom;line-height:30px;margin-top:2px;"></i>
                            </div>
                            </li>
                            <li>
                            <input type="text" id="search-bar" placeholder="사진, 전문가, 제품으로 검색하기" style="display:table-cell;margin-top: 0px;margin-bottom: 0px;height: 37px;border-left: 0px;font-size:13px;width:663px;" autofocus>
                            </li>
                        </ul>
                    </div>
                <style>
                .userMenu li a {
                    line-height: 40px;
                }
                </style>
                <!-- User Menu start -->
                {% if session.logged_in %}
                    <div class="pull-right">
                        <ul class="userMenu">
                            <li>

                            </li>
                            &nbsp;
                            {% if session['is_company'] %}
                            <li><a href="/company_portfolio/{{ session['user_id'] }}"><span class="hidden-xs">
                                    {% if session['user_profile_image_path'] %}
                                    <div style="background:url({{ url_for('static',filename=session['user_profile_image_path'])|resize('50x50') }}); border:1px solid #dddddd;height:40px;width:40px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 25px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;transform:scale(0.5);-webkit-transform: scale(0.5);-ms-transform: scale(0.5);"></div>
                                    {% else %}
                                    <div style="background-color:#dddddd; border:1px solid #dddddd;height:40px;width:40px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 25px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;transform:scale(0.5);-webkit-transform: scale(0.5);-ms-transform: scale(0.5);"></div>
                                    {% endif %}
                                    <div style="padding-bottom:0px;display:table-cell;padding-left:5px;">
                                        {{ session['username'][:13] }}
                                    </div>
                                </span>
                                {% endif %}
                                {% if not session['is_company'] %}
                                <li><a href="/user_portfolio/{{ session['user_id'] }}">
                                    {% if session['user_profile_image_path'] %}
                                    <div style="background:url({{ url_for('static',filename=session['user_profile_image_path'])|resize('50x50') }}); border:1px solid #dddddd;height:40px;width:40px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 25px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;transform:scale(0.5);-webkit-transform: scale(0.5);-ms-transform: scale(0.5);"></div>
                                    {% else %}
                                    <div style="background-color:#dddddd; border:1px solid #dddddd;height:40px;width:40px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 25px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;transform:scale(0.5);-webkit-transform: scale(0.5);-ms-transform: scale(0.5);"></div>
                                    {% endif %}
                                    <div style="padding-bottom:0px;display:table-cell;padding-left:5px;">
                                        {{ session['username'][:13] }}
                                    </div>

                                    {% endif %}
                                <li><a href="{{ url_for('signout') }}">

                                    <i class="fa fa-sign-out 1x" style="color:#777777;transform:scale(1.4);-webkit-transform: scale(1.4);-ms-transform: scale(1.4);padding-right:5px;display:table-cell;" > </i>
                                    <div style="display:table-cell;">
                                        로그아웃
                                    </div>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    {% elif not session.logged_in %}
                        <div class="pull-right">
                            <ul class="userMenu">
                                <li>
                                <a href="#" data-toggle="modal" data-target="#ModalLogin" style="padding-right:0px;"> <span class="hidden-xs">

                                        <div style="display:table-cell;color:#ababab;">
                                            로그인
                                        </div>
                                    </span>
                                </a>
                                </li>
                                <li>
                                    <div style="display:table-cell;padding-left:20px;padding-right:20px;line-height:40px;font-size:14px;color:#ababab;">
                                        |
                                    </div>
                                </li>
                                <li class="hidden-xs"><a href="#" data-toggle="modal" data-target="#ModalSignup" style="padding-right:13px;"> 

                                <div style="display:table-cell;color:#ababab;">
                                    회원가입 
                                </div>
                                    <i class="fa fa-user-plus 1x" style="color:#ababab;transform:scale(1.4);-webkit-transform: scale(1.4);-ms-transform: scale(1.4);display:table-cell;padding-left:5px;" > </i>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <!-- user menu end -->
                </div>
            </div>
        <!--/.navbar-top-->

        <div class="container">
            <div class="navbar-header">  
                <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#navbar-collapse" style="background:#ffffff;margin-left:5px;padding-left:0px;">
                    <span class="sr-only"> Toggle navigation </span> 
                    <span class="icon-bar" style="border:solid 2px #777777;"> </span> 
                    <span class="icon-bar" style="border:solid 2px #777777;"> </span> 
                    <span class="icon-bar" style="border:solid 2px #777777;"> </span> 
                </button>
                <div class="visible-xs">
                    <ul class="userMenu">
                        <li style="margin-top:2px;">
                        <a href="/" style="padding-right:0px;">
                            <img src="{{ url_for('static',filename='img/logo_2016_04_28.jpg') }}" style="height:40px;"> 
                        </a>
                        </li>
                    </ul>
                </div>
                    {% if session.logged_in %}
                    <div class="pull-right visible-xs">
                        <ul class="userMenu">
                            {% if session['is_company'] %}
                                <li style="margin-top:3px;">
                            <a href="/company_portfolio/{{ session['user_id'] }}"><span class="visible-xs">
                                    {% if session['user_profile_image_path'] %}
                                    <div style="background:url({{ url_for('static',filename=session['user_profile_image_path'])|resize('50x50') }}); border:1px solid #dddddd;height:40px;width:40px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 25px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;transform:scale(0.5);-webkit-transform: scale(0.5);-ms-transform: scale(0.5);"></div>
                                    {% else %}
                                    <div style="background-color:#dddddd; border:1px solid #dddddd;height:40px;width:40px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 25px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;transform:scale(0.5);-webkit-transform: scale(0.5);-ms-transform: scale(0.5);"></div>
                                    {% endif %}
                                    <div style="padding-bottom:0px;display:table-cell;padding-left:5px;">
                                        <b>
                                        {{ session['username'][:13] }}
                                    </b>
                                    </div>
                                </span>
                                {% endif %}
                                {% if not session['is_company'] %}
                                <li><a href="/user_portfolio/{{ session['user_id'] }}">
                                    {% if session['user_profile_image_path'] %}
                                    <div style="background:url({{ url_for('static',filename=session['user_profile_image_path'])|resize('50x50') }}); border:1px solid #dddddd;height:40px;width:40px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 25px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;transform:scale(0.5);-webkit-transform: scale(0.5);-ms-transform: scale(0.5);"></div>
                                    {% else %}
                                    <div style="background-color:#dddddd; border:1px solid #dddddd;height:40px;width:40px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 25px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;transform:scale(0.5);-webkit-transform: scale(0.5);-ms-transform: scale(0.5);"></div>
                                    {% endif %}
                                    <div style="padding-bottom:0px;display:table-cell;padding-left:5px;">
                                        {{ session['username'][:13] }}
                                    </div>
<!--
                                    <span class="visible-xs">{{ session['username'] }}님</span>
                                    -->
                                    {% endif %}
                                <li style="margin-top:3px;">
                                <a href="{{ url_for('signout') }}" style="padding-right:0px;">

                                    <i class="fa fa-sign-out 1x" style="color:#777777;transform:scale(1.4);-webkit-transform: scale(1.4);-ms-transform: scale(1.4);padding-right:5px;display:table-cell;" > </i>
                                    <div style="display:table-cell;">
                                        <b>
                                        로그아웃
                                    </b>
                                    </div>
                                </a></li>
                            </ul>
                        </div>
                    {% elif not session.logged_in %}
                        <div class="pull-right">
                            <ul class="userMenu">
                                <li style="margin-top:3px;">
                                <a href="#" data-toggle="modal" data-target="#ModalLogin"> <span class="visible-xs">

                                        <i class="fa fa-sign-in 1x" style="color:#777777;transform:scale(1.4);-webkit-transform: scale(1.4);-ms-transform: scale(1.4);padding-right:5px;display:table-cell;" > </i>
                                        <div style="display:table-cell;">
                                            <b> 로그인</b>
                                        </div>
                                    </span>
                                </a>
                                </li>
                                <li class="visible-xs" style="margin-top:3px;">
                                <a href="#" data-toggle="modal" data-target="#ModalSignup" style="padding-right:13px;"> 

                                    <i class="fa fa-user-plus 1x" style="color:#777777;transform:scale(1.4);-webkit-transform: scale(1.4);-ms-transform: scale(1.4);padding-right:5px;display:table-cell;" > </i>
                                        <div style="display:table-cell;">
                                            <b>
                                    회원가입 
                                </b>
                                </div>
                                </a></li>
                            </ul>
                        </div>
                    {% endif %}
                    <!-- user menu end -->
                    </div>

                        <style>
                        .dropdown-menu {
                            min-width: 283px;
                        }
                        .megamenu .megamenu-content {
                            padding: 5px 0px 5px 0px;
                        }
                        .megamenu-content ul li {
                            border-bottom: 0px;
                            margin-bottom: 0px;
                            padding-right:0px;
                        }
                        .megamenu-content ul {
                            padding-top:5px;
                            padding-bottom:5px;
                        }
                        .megamenu-content ul li a {
                            padding-right:0px;
                            
                        }
                        .megamenu-content ul li ul li:hover {
                            background: #eeeeee;
                        }
.nav-stacked li {
    border-bottom:0px;
}
.panel-heading,
.panel-body{
    padding-left:16px;
    padding-top: 16px;
    padding-bottom:16px;
}
.panel-body {
    padding-left:0px;
}
.panel-title {
    font-size: 14px;
    font-weight: bold;
}
.panel-default > .panel-heading {
    background:#ffffff;
    border-top:0px;
    border-bottom:0px;
}
.nav-stacked > li a {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.panel-body ul li:hover {
    background:#eeeeee;
    color:#84bd5e;
}
.panel-body ul li a{
    color: #6a6a6a;
    font-size: 14px;
}
#nav-panel-body ul li a {
    left: 20px;
}
.panel-title {
    color: #84bd5e;
}
#dropdown-menu-1 ul li {
    padding-bottom: 0px;
}
#dropdown-menu-2 ul li {
    padding-bottom: 0px;
}
#dropdown-menu-3 ul li {
    padding-bottom: 0px;
}

                        </style>
                        <div class="navbar-collapse collapse" id="navbar-collapse" style="overflow-x:hidden;">
                            <hr class="visible-xs" style="margin:0px 15px 0px -15px;width:2580px;"/>
                <ul class="nav navbar-nav" >
                    <li class="dropdown megamenu-20width"><a id="nav-dropdown-toggle-1" class="dropdown-toggle nav-dropdown-toggle" href="/photos/" style="padding-top:9px;padding-bottom:11px;border-top:2px solid #ffffff;color:#777777;"> 
                        <i class="fa fa-camera fa-1x" style=";transform:scale(1.1);-webkit-transform: scale(1.1);-ms-transform: scale(1.1);padding-right:5px;display:table-cell;" > </i>
                        <!--
                        <img src="{{url_for('static',filename='icon/gallery.png')}}" style="display:table-cell;;">
                        -->
                        <div style="display:table-cell;padding-left:4px;padding-right:4px;">
                            갤러리 <i class="fa fa-caret-down" aria-hidden="true"></i> </div></a>
                    <ul class="dropdown-menu" id="dropdown-menu-1" style="min-width:283px;border-top:0px;padding-top:0px;padding-bottom:0px;">
                        <li class="megamenu-content " style="padding-top:0px;padding-bottom:0px;">
                        <div class="panel panel-default" style="margin-bottom:0px;">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#navCategory-space" class="collapseWill">
                                        공간
                                        <span class="pull-right"><i class="fa fa-caret-right"></i></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="navCategory-space" class="panel-collapse collapse in">
                                <div id="nav-panel-body" class="panel-body" style="padding:0;">
                                    <ul class="nav nav-pills nav-stacked tree" style="padding-bottom:10px;">
                                        <li><a href="/photos/1"> 거실</a></li>
                                        <li><a href="/photos/2"> 주방</a></li>
                                        <li><a href="/photos/3"> 침실</a></li>
                                        <li><a href="/photos/4"> 서재</a></li>
                                        <li><a href="/photos/5"> 유아/주니어방</a></li>
                                        <li><a href="/photos/6"> 욕실</a></li>
                                        <li><a href="/photos/7"> 현관</a></li>
                                        <li><a href="/photos/8"> 기타</a></li>
                                        <li><a href="/photos/9"> 상업공간</a></li>
                                        <li><a href="/photos/10"> 사무공간</a></li>
                                    </ul>
                                </div>
                            </div>
<hr style="margin:0px;padding:0px;">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#" class="collapseWill">
                                        스타일
                                        <span class="pull-right"><i class="fa fa-caret-right"></i></span>
                                    </a>
                                </h4>
                            </div>
<hr style="margin:0px;padding:0px;">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#" class="collapseWill">
                                        타입
                                        <span class="pull-right"><i class="fa fa-caret-right"></i></span>
                                    </a>
                                </h4>
                            </div>

                        </div>
                    </ul>
                    </li>
                    <li class="dropdown megamenu-20width"><a  id="nav-dropdown-toggle-2" class="dropdown-toggle nav-dropdown-toggle" href="/find_pros/" style="padding-top:9px;padding-bottom:11px;border-top:2px solid #ffffff;color:#777777;"> 
                        <i class="fa fa-users fa-1x" style=";transform:scale(1.1);-webkit-transform: scale(1.1);-ms-transform: scale(1.1);padding-right:5px;display:table-cell;" > </i>
                        <div style="display:table-cell;padding-left:4px;padding-right:4px;">
                            전문가 <i class="fa fa-caret-down" aria-hidden="true"></i> </div></a>
                    <ul class="dropdown-menu" id="dropdown-menu-2" style="min-width:283px;border-top:0px;padding-top:0px;padding-bottom:0px;">
                        <li class="megamenu-content " style="padding-top:0px;padding-bottom:0px;">
                        <div class="panel panel-default" style="margin-bottom:0px;">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="/find_pros/4"> 홈스타일링</a>
                                </h4>
                            </div>
<hr style="margin:0px;padding:0px;">
                            <div class="panel-heading" >
                                <h4 class="panel-title">
                                    <a href="/find_pros/1"> 주거 인테리어 회사</a>
                                </h4>
                            </div>
<hr style="margin:0px;padding:0px;">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="/find_pros/2"> 상업 인테리어 회사</a>
                                </h4>
                            </div>
<hr style="margin:0px;padding:0px;">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="/find_pros/6"> 인테리어 디자이너</a>
                                </h4>
                            </div>
<hr style="margin:0px;padding:0px;">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="/find_pros/3"> 가구(제작 가구)</a>
                                </h4>
                            </div>
                        </div>
                    </ul>
                    </li>
                    <li class="dropdown megamenu-20width"><a  id="nav-dropdown-toggle-3" class="dropdown-toggle nav-dropdown-toggle" href="/shop/" style="padding-top:9px;padding-bottom:11px;border-top:2px solid #ffffff;color:#777777;">
                        <i class="fa fa-tag fa-1x" style=";transform:scale(1.1);-webkit-transform: scale(1.1);-ms-transform: scale(1.1);padding-right:5px;display:table-cell;" > </i>
                        <div style="display:table-cell;padding-left:4px;padding-right:4px;">
                            스토어 <i class="fa fa-caret-down" aria-hidden="true"></i> </div></a>
                    <ul class="dropdown-menu" id="dropdown-menu-3" style="min-width:283px;border-top:0px;padding-top:0px;padding-bottom:0px;">
                        <li class="megamenu-content"  style="padding-top:0px;padding-bottom:0px;"> 
                        <div class="panel panel-default" style="margin-bottom:0px;">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#navCategory-furniture" class="collapseWill">
                                        가구
                                        <span class="pull-right"><i class="fa fa-caret-right"></i></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="navCategory-furniture" class="panel-collapse collapse in">
                                <div id="nav-panel-body" class="panel-body" style="padding:0;">
                                    <ul class="nav nav-pills nav-stacked tree" style="padding-bottom:10px;">
                                        <li><a href="/shop/1">거실가구</a></li>
                                        <li><a href="/shop/9">주방가구</a></li>
                                        <li><a href="/shop/15">침실가구</a></li>
                                        <li><a href="/shop/26">서재가구</a></li>
                                        <li><a href="/shop/33">유아/주니어가구</a></li>
                                        <li><a href="/shop/42">욕실</a></li>
                                        <li><a href="/shop/50">제작가구(빌트인)</a></li>
                                        <li><a href="/shop/56">인테리어소품</a></li>
                                        <li><a href="/shop/63">상업가구</a></li>
                                        <li><a href="/shop/69">사무가구</a></li>
                                    </ul>
                                </div>
                            </div>
                            <hr style="margin:0px;padding:0px;">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#" class="collapseWill">
                                        스타일
                                        <span class="pull-right"><i class="fa fa-caret-right"></i></span>
                                    </a>
                                </h4>
                            </div>
                            <hr style="margin:0px;padding:0px;">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#" class="collapseWill">
                                        가격
                                        <span class="pull-right"><i class="fa fa-caret-right"></i></span>
                                    </a>
                                </h4>
                            </div>

                        </div>
                    </ul>
                    
                    </li>
                    <li class="dropdown megamenu-20width"><a  id="nav-dropdown-toggle-4" class="dropdown-toggle nav-dropdown-toggle" href="/magazine" style="padding-top:9px;padding-bottom:11px;border-top:2px solid #ffffff;"> 
                        <div style="display:table-cell;padding-left:4px;padding-right:4px;">
                            매거진</div></a>
                    </li>

                </ul>
                        </div>
        <!--/.nav-collapse -->

    </div>
    <!--/.container -->

    <div class="search-full text-right"><a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i> </a>

        <div class="searchInputBox pull-right">
            <input type="search" data-searchurl="search?=" name="q" placeholder="start typing and hit enter to search"
                   class="search-input">
            <button class="btn-nobg search-btn" type="submit"><i class="fa fa-search"> </i></button>
        </div>
    </div>
    <!--/.search-full-->

</div>
<script>
$('#search-bar').keydown(function(e) {
    if (e.which === 13) {
        var val = $(this).val();
        window.location.href='/search?q='+val;
    }
});
$('#nav-dropdown-toggle-1').hover(function() {
        $(this).css('border-top','2px solid #84bd5e');
        }, function() {
        var $cur = $(this);
        $cur.css('border-top','2px solid #ffffff'); 
        $('#dropdown-menu-1').hover(function() {
            $cur.css('border-top','2px solid #84bd5e');
            },function() {
            $cur.css('border-top','2px solid #ffffff'); 
            });
        });
$('#nav-dropdown-toggle-2').hover(function() {
        $(this).css('border-top','2px solid #84bd5e');
        }, function() {
        var $cur = $(this);
        $cur.css('border-top','2px solid #ffffff'); 
        $('#dropdown-menu-2').hover(function() {
            $cur.css('border-top','2px solid #84bd5e');
            },function() {
            $cur.css('border-top','2px solid #ffffff'); 
            });
        });
$('#nav-dropdown-toggle-3').hover(function() {
        $(this).css('border-top','2px solid #84bd5e');
        }, function() {
        var $cur = $(this);
        $cur.css('border-top','2px solid #ffffff'); 
        $('#dropdown-menu-3').hover(function() {
            $cur.css('border-top','2px solid #84bd5e');
            },function() {
            $cur.css('border-top','2px solid #ffffff'); 
            });
        });
$('#nav-dropdown-toggle-4').hover(function() {
        $(this).css('border-top','2px solid #84bd5e');
        }, function() {
        $(this).css('border-top','2px solid #ffffff'); 
        });


</script>

