<style>
    input#search-bar {
        border-color: #DDDDDD;

        -webkit-border-radius: 0px 3px 3px 0px;
        -moz-border-radius: 0px 3px 3px 0px;
        border-radius: 0px 3px 3px 0px;
        border: 1px solid #dddddd;
        /*
        border-width: 2px 1px 1px 2px;
        */
        color: #888888;
        font-size: 14px;
        line-height: 20px;
        height: 30px;
        width: 600px;
        margin: 5px 0px 5px 0px;
        vertical-align: middle;
        display: block;
    }
    input#search-bar:hover {
        border-color: #EEEEEE;
        outline: 0 none;
    }
    input#search-bar:focus {
        border-color: #EEEEEE;
        outline: 0 none;
    }
</style>
<!-- Fixed navbar start -->

<div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation" style="margin-bottom: 0px;">
    <div class="navbar-top" style="height:40px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-sm-9 col-xs-9 col-md-9" >
                    <div class="pull-left " style="margin-left:164px;">
                        <ul class="userMenu ">
                            <li style="margin-bottom:5px;margin-top:5px;">
                            <div style="width:30px;height:30px;background-color:white;border:1px solid #dddddd;border-right:0px;text-align:center;">
                            <i class="fa fa-search fa-2x" style="color:#dddddd;margin:0;display:inline-block;text-align:center;vertical-align:bottom;line-height:30px;"></i>
                        </div>
                            </li>
                            <li>
                            <input type="text" id="search-bar" placeholder="사진, 전문가, 제품으로 검색하기" style="display:table-cell;">
                            <!--
                                <a href="#"> <span class="hidden-xs">Search bar</span><i
                                    class="glyphicon glyphicon-info-sign hide visible-xs "></i> </a>
                                    -->
                            </li>
                        </ul>
                    </div>
                </div>
                <style>
                .userMenu li a {
                    line-height: 40px;
                }
                </style>
                <!-- User Menu start -->
                {% if session.logged_in %}
                <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3 no-margin no-padding">
                    <div class="pull-right">
                        <ul class="userMenu">
                            {% if session['is_company'] %}
                            <li><a href="/company_portfolio/{{ session['user_id'] }}"><span class="hidden-xs">
                                    <div style="background-color:#dddddd; border:1px solid #dddddd;height:40px;width:40px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 25px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;transform:scale(0.5);-webkit-transform: scale(0.5);-ms-transform: scale(0.5);"></div>
                                    <div style="padding-bottom:0px;display:table-cell;padding-left:5px;">
                                        {{ session['username'] }}
                                    </div>
                                </span>
                                {% endif %}
                                {% if not session['is_company'] %}
                                <li><a href="/user_portfolio/{{ session['user_id'] }}"><span class="hidden-xs">{{ session['username'] }}님 환영합니다</span>
                                    {% endif %}
                                    <i class="glyphicon glyphicon-log-in hide visible-xs "></i> </a></li>
                                <li><a href="{{ url_for('signout') }}">

                                    <i class="fa fa-sign-out 1x" style="color:#777777;transform:scale(1.4);-webkit-transform: scale(1.4);-ms-transform: scale(1.4);padding-right:5px;display:table-cell;" > </i>
                                    <div style="display:table-cell;">
                                        로그아웃
                                    </div>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    {% elif not session.logged_in %}
                    <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3 no-margin no-padding">
                        <div class="pull-right">
                            <ul class="userMenu">
                                <li>
                                <a href="#" data-toggle="modal" data-target="#ModalLogin"> <span class="hidden-xs">

                                        <i class="fa fa-sign-in 1x" style="color:#777777;transform:scale(1.4);-webkit-transform: scale(1.4);-ms-transform: scale(1.4);padding-right:5px;display:table-cell;" > </i>
                                        <div style="display:table-cell;">
                                            로그인
                                        </div>
                                    </span>
                                    <i class="glyphicon glyphicon-log-in hide visible-xs "></i> </a>
                                </li>
                                <li class="hidden-xs"><a href="#" data-toggle="modal" data-target="#ModalSignup" style="padding-right:15px;"> 

                                    <i class="fa fa-user-plus 1x" style="color:#777777;transform:scale(1.4);-webkit-transform: scale(1.4);-ms-transform: scale(1.4);padding-right:5px;display:table-cell;" > </i>
                                        <div style="display:table-cell;">
                                    회원가입 
                                </div>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <!-- user menu end -->
                </div>
            </div>
        </div>
        <!--/.navbar-top-->

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span
                        class="icon-bar"> </span> <span class="icon-bar"> </span></button>

                <a  href="/"> <img src="{{ url_for('static',filename='img/logo_40.png') }}"> </a>

                <!-- this part for mobile -->
                <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
                    <div class="input-group">
                        <button class="btn btn-nobg getFullSearch" type="button"><i class="fa fa-search"> </i></button>
                    </div>
                    <!-- /input-group -->
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="margin-left:10px;">
                    <li class="dropdown megamenu-20width"><a class="dropdown-toggle" href="/photos/"> 
                        <i class="fa fa-camera fa-1x" style="color:#777777;transform:scale(1.4);-webkit-transform: scale(1.4);-ms-transform: scale(1.4);padding-right:5px;display:table-cell;" > </i>
                        <div style="display:table-cell;padding-left:4px;padding-right:4px;">
                            갤러리 <b class="caret"> </b> </div></a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content ">
                        <ul class="  unstyled noMarginLeft newCollectionUl">
                            <li><a href="#"><strong> 주거공간</strong></a> </li>
                            <li><a href="/photos/1">&nbsp; &nbsp;  주방 </a></li>
                            <li><a href="/photos/2">&nbsp; &nbsp; 화장실 </a></li>
                            <li><a href="/photos/3">&nbsp; &nbsp; 방  </a></li>
                            <li><a href="/photos/4">&nbsp; &nbsp; 거실 </a></li>
                            <li><a href="/photos/5">&nbsp; &nbsp; 현관 </a></li>
                            <li><a href="/photos/6">&nbsp; &nbsp; 기타 </a></li>
                            <li><a href="#"><strong>상업공간</strong></a></li>
                            <li><a href="#"><strong>사무공간</strong></a></li>
                        </ul>
                        </li>
                    </ul>
                    </li>
                    <li class="dropdown megamenu-20width"><a  class="dropdown-toggle" href="/find_pros/"> 
                        <i class="fa fa-users fa-1x" style="color:#777777;transform:scale(1.4);-webkit-transform: scale(1.4);-ms-transform: scale(1.4);padding-right:5px;display:table-cell;" > </i>
                        <div style="display:table-cell;padding-left:4px;padding-right:4px;">
                            전문가<b class="caret"> </b> </div></a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content ">
                        <ul class="unstyled noMarginLeft newCollectionUl">
                            <li><a href="/find_pros/1"> 주거 인테리어 회사</a></li>
                            <li><a href="/find_pros/2"> 상업 인테리어 회사</a></li>
                            <li><a href="/find_pros/4"> 인테리어 디자이너</a></li>
                            <li><a href="/find_pros/3"> 가구 회사</a></li>
                        </ul>
                        </li>
                    </ul>
                    </li>
                    <li class="dropdown megamenu-20width"><a  class="dropdown-toggle" href="/shop/">
                        <i class="fa fa-tag fa-1x" style="color:#777777;transform:scale(1.4);-webkit-transform: scale(1.4);-ms-transform: scale(1.4);padding-right:5px;display:table-cell;" > </i>
                        <div style="display:table-cell;padding-left:4px;padding-right:4px;">
                            스토어<b class="caret"> </b> </div></a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content">
                        <ul class="unstyled noMarginLeft newCollectionUl">
                            <li><a href="/shop/1">거실가구</a></li>
                            <li><a href="/shop/9">주방가구</a></li>
                            <li><a href="/shop/15">침실가구</a></li>
                            <li><a href="/shop/26">서재가구</a></li>
                            <li><a href="/shop/33">유아/주니어가구</a></li>
                            <li><a href="/shop/42">욕실</a></li>
                            <li><a href="/shop/50">제작가구(빌트인)</a></li>
                            <li><a href="/shop/56">인테리어소품</a></li>
                            <li><a href="/shop/63">상업가구</a></li>
                            <li><a href="/shop/69">사무가구</a></li>
                        </ul>
                        </li>
                    </ul>
                    </li>
                </ul>
                <!--- this part will be hidden for mobile version -->
            <div class="nav navbar-nav navbar-right hidden-xs">
                <div class="dropdown  cartMenu "><a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-right:0px;padding-right:0px;"> <i class="fa fa-shopping-cart fa-1x" style="color:#777777;transform:scale(1.4);-webkit-transform: scale(1.4);-ms-transform: scale(1.4);padding-right:5px;" > </i> <span class="cartRespons" style="color:#777777;margin-right:0px;"> 장바구니</span> </a>
                    <div class="dropdown-menu col-lg-4 col-xs-12 col-md-4 ">
                        <div class="w100 miniCartTable scroll-pane" style="overflow:scroll;">
                            <table>
                                <tbody>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="#"> A </a></h4>
                                            <span class="size"> A_1 </span>

                                            <div class="price"><span> 11,000원 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> 1 개 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> 11,000원 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="#"> A </a></h4>
                                            <span class="size"> A_1 </span>

                                            <div class="price"><span> 11,000원 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> 1 개 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> 11,000원 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="#"> A </a></h4>
                                            <span class="size"> A_1 </span>

                                            <div class="price"><span> 11,000원 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> 1 개 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> 11,000원 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="#"> A </a></h4>
                                            <span class="size"> A_1 </span>

                                            <div class="price"><span> 11,000원 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> 1 개 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> 11,000원 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="#"> A </a></h4>
                                            <span class="size"> A_1 </span>

                                            <div class="price"><span> 11,000원 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> 1 개 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> 11,000원 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="#"> A </a></h4>
                                            <span class="size"> A_1 </span>

                                            <div class="price"><span> 11,000원 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> 1 개 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> 11,000원 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--/.miniCartTable-->

                        <div class="miniCartFooter text-right">
                            <h3 class="text-right subtotal"> 총 ??,000원 </h3>
                            <a class="btn btn-sm btn-danger"> <i class="fa fa-shopping-cart"> </i> 장바구니 가기 </a> <a
                                class="btn btn-sm btn-primary"> 결제하기 </a></div>
                        <!--/.miniCartFooter-->

                    </div>
                    <!--/.dropdown-menu-->
                </div>
                <!--/.cartMenu-->
            </div>
            <!--/.navbar-nav hidden-xs--> 
        </div>
        <!--/.nav-collapse -->

    </div>
    <!--/.container -->

    <div class="search-full text-right"><a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i> </a>

        <div class="searchInputBox pull-right">
            <input type="search" data-searchurl="search?=" name="q" placeholder="start typing and hit enter to search"
                   class="search-input">
            <button class="btn-nobg search-btn" type="submit"><i class="fa fa-search"> </i></button>
        </div>
    </div>
    <!--/.search-full-->

</div>
