<style>
.nav-stacked li {
    border-bottom:0px;
}
.panel {
    border: 0px;
}
#panel-heading,
#panel-body{
    padding-left:0px;
    padding-top: 0px;
    padding-bottom:16px;
    padding-right: 0px;
}
.panel-title {
    font-size: 14px;
    font-weight: bold;
}
.panel-default > .panel-heading {
    background:#ffffff;
    border-top:0px;
    border-bottom:0px;
}
.nav-stacked > li a {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
</style>
<div class="panel panel-default">
    <div class="panel-heading" id="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapseCategory-space" class="collapseWill">
                가구
                <span class="pull-right"><i class="fa fa-caret-right"></i></span>
            </a>
        </h4>
    </div>
    <div id="collapseCategory-space" class="panel-collapse collapse in">
        <div class="panel-body" id="panel-body">
            <ul class="nav nav-pills nav-stacked tree">
                {% for category in ret.category %}
                <li>
                <a href="/shop/{{ category.category_id }}">
                    {{ category.category_name }}
                </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr style="margin:0px;padding:0px;padding-bottom:16px;">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapseCategory-style" class="collapseWill">
                스타일
                <span class="pull-right"><i class="fa fa-caret-right"></i></span>
            </a>
        </h4>
    </div>
    <div id="collapseCategory-style" class="panel-collapse collapse in">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked tree">
                <li><a href="#"> 모던 </a></li>
                <li><a href="#"> 북유럽</a></li>
                <li><a href="#"> 빈티지</a></li>
                <li><a href="#"> 내츄럴</a></li>
                <li><a href="#"> 프로방스</a></li>
                <li><a href="#"> 클래식+앤틱</a></li>
                <li><a href="#"> 오리엔탈</a></li>
                <li><a href="#"> 유니크</a></li>
                <li><a href="#"> 기타</a></li>
            </ul>
        </div>
    </div>
    <hr style="margin:0px;padding:0px;padding-bottom:16px;">

    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapseCategory-price" class="collapseWill">
                가격
                <span class="pull-right"><i class="fa fa-caret-right"></i></span>
            </a>
        </h4>
    </div>
    <div id="collapseCategory-price" class="panel-collapse collapse in">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked tree">
                <input style="width:40px;"></input>
                ~
                <input style="width:40px;"></input>
                <i class="fa fa-play-circle-o"></i>
            </ul>
        </div>
    </div>
</div>
