<style>
#mobile-leftside-container {
    position: absolute;
    width: 100px;
    padding: 0;
    margin: 0;
    top:110px;
}
#mobile-rightside-container {
    position: relative;
    margin: 0px 0px 0px 100px;
}
</style>
<link href="{{ url_for('static',filename='css/jquery.Jcrop.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/jquery.SimpleCropper.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/image-crop.css') }}" rel="stylesheet">
<script src="{{ url_for('static',filename='js/jquery.Jcrop.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.SimpleCropper.js') }}"></script>
<div class="container nav-margin" style="padding: 0px 0px 0px 0px;height:200px;" >
    <div class="custom_jumbo_container" style="background: url({{ '/static/'+ret.image_path }});
            background-repeat:no-repeat; background-size: cover; background-position: center;">
        <div id="mobile-leftside-container" style="height:80px;">
            {% if ret.user_profile_image_path | length != 0 %}
            <div class="cropme" style="width:80px; height:80px; margin-left:10px;">
                <div style="background: url({{ url_for('static',filename=ret.user_profile_image_path) }});
                    background-repeat:no-repeat; background-size: cover; background-position: center;z-index:10;height:80px;"></div>
            </div>
            {% else %}
            <div class="cropme" style="width:80px; height:80px; margin-left:20px;">
            </div>
            {% endif %}
        </div>
        <script>
        $('.cropme').simpleCropper();
        $('.ok').click(function() {
            console.log('ok click');
            var imageData = $('#preview img').attr('src');
             var imageBase64= imageData.replace(/^data:image\/(png|jpeg);base64,/, "");
             var data = {
             "imageData": imageBase64
             };
             $.ajax({
                type: 'POST',
                url: '/image_crop_upload',
                data: data, 
                success: function (msg) {
                    console.log(msg);
                // On success code
                },
error: function(error) {
    console.log(error);
}
                });
            });
        
        </script>
        <div id="mobile-rightside-container">
            <h1>{{ ret.user.username }}</h1>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom:0px;background:#ffffff;border: 1px solid #dddddd;overflow-x:hidden;">
        <div class="container-not">
            <div class="navbar-collapse "> 
                <ul class="nav navbar-nav" id="company-portfolio-navbar" style="overflow-x:scroll;">
                    <li style="display:table-cell;">
                        <a href="/company_portfolio/{{ ret.user.id }}">회사소개</a>
                    </li>
                    <li style="display:table-cell;">
                        <a href="/company_portfolio/{{ ret.user.id }}/project">프로젝트</a>
                    </li>
                    <li style="display:table-cell;">
                        <a href="/company_portfolio/{{ ret.user.id }}/shop">스토어</a>
                    </li>
                    <li style="display:table-cell;">
                        <a >질문/답변</a>
                    <!--
                        <a href="/company_portfolio/{{ ret.user.id }}/qna">질문/답변</a>
                        -->
                    </li>
                    <li style="display:table-cell;">
                        <a>리뷰</a>
                    <!--
                        <a href="/company_portfolio/{{ ret.user.id }}/review">리뷰</a>
                        -->
                    </li>
                </ul>
            </div>
    </div>
</div>
