{% extends "base.html" %}
{% block content %}
<style type="text/css">
    * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

card_header {
  display: block;
  overflow: hidden;
  position: relative;

  }

.card_container {
    outline: 0;
    width: 100%;
    position: relative;
    float: left;
    margin: 1px 1px 1px 1px;

    background-color: #ffffff;

  }

.card_custom_body {
    padding-top: 15px;
    padding-left:25px;
    padding-right:25px;
    height: 70px;
}

.bg {
  border-bottom: 0px solid #5cc0ff;
  max-width: 100%;
  height:200px;
}

.bio:hover > .card_desc {
  cursor: pointer;
  opacity: 1;
}

.custom_jumbo{
  width:100%;
  z-index:1;
  height:150px;
  background-color:#576782;
  position:relative;
}
.custom_jumbo_navbar {
    width: 100%;
    height: 50px;
    background-color:#FFFFFF;
    position: relative;
}

.custom_jumbo_container{
  width:100%;
    height:100%;
  min-width:320px;
  margin: 0px auto;
  padding:20px 0;
}
.custom_jumbo_container h1{
  font-size:40px;
  color:#fff;
    margin-top: 100px;
    vertical-align: middle;
}

.custom_jumbo_container h2{
  font-size:15px;
  color:#ddd;
  line-height: 23px;
  vertical-align: middle;
  text-align: center;
}
#leftside_container {
    position: absolute;
    width: 240px;
    padding: 0;
    margin: 0;
    margin-top: 150px;
}
#rightside_container {
    position: relative;
    margin: 180px 0px 0px 240px;
}
#custom_jumbo_navbar_wrapper {
    position: relative;
    margin: 0px 0px 0px 160px;
    vertical-align: middle;
}
.profile_container {
    height:168px;
    width: 168px;
    z-index: 2;
    background-color: #000;
    margin-left: 20px;
}
#feed_container {
    overflow: auto;
}

</style>
<div class="visible-xs">
    {% include "company_portfolio_mobile.html" %}
</div>
<div class="hidden-xs">
{% include "company_portfolio_navbar.html" %}

<div class="container main-container " style="margin-top:0px;background-color:#FFFFFF;border:1px solid #dddddd;border-top:0px;margin-bottom:10px;">
    <div class="row" style="padding-top:20px;height:222px;">
        <div class="col-lg-2 col-md-2 col-sm-12" style="padding-left:20px;padding-right:8px;">
            <div style="height:56px;border:1px solid #dddddd;width:100%;">
                <div class="col-lg-6 col-md-6 col-sm-6" style="padding:0;margin:0;vertical-align:middle;border-right:1px solid #dddddd;height:100%;">
                    <center>
                    <h5 style="{% if ret.is_user_follow %}color:#3B5998;font-weight:600;{% else %}color:#777777;font-weight:400;{% endif %}vertical-align:middle;padding-bottom:0px;padding-top:7px;" id="follow-button-number">{{ ret.number_of_follow }}</h5>
                    <a onclick="followPost({{ret.user.id}});">
                    <h5 style="{% if ret.is_user_follow %}color:#3B5998;font-weight:600;{% else %}color:#777777;font-weight:400;{% endif %}vertical-align:middle;padding-bottom:0px;" id="follow-button">{% if ret.is_user_follow %}팔로워{% else %}팔로우{% endif %}</h5>
                </a>
                </center>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" style="padding:0;margin:0;vertical-align:middle;height:100%;">
                    <center>
                    <h5 style="vertical-align:middle;padding-bottom:0px;padding-top: 7px;">{{ ret.number_of_from_follow }}</h5>
                    <h5 style="vertical-align:middle;padding-bottom:0px;">팔로잉</h5>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12" style="padding-left:0px;">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h5 style="padding-bottom:0px;">
                    {{ ret.company.company_introduction }}
                </h5>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h5 style="padding-bottom:0px;">
                        <strong style="font-weight:800;">
                    회사정보
                </strong>
                    <br>
                    <style>
#company-info td{
    padding-right:8px;
    vertical-align: top;
}
#company-info img {
    height: 15px;
    vertical-align: top;
    margin-top:3px;
}
                    </style>
                    <table style="border:0;margin-top:10px;" id="company-info">
                        <tr>
                            <td>
                                <center>
                                <img src="{{url_for('static',filename='icon/company_name.png')}}" style="height:12px;margin-top:4px;">
                                </center>
                            </td>
                            <td>
                                회사이름
                            </td>
                            <td>
                                {{ ret.user.username }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                <img src="{{url_for('static',filename='icon/company_address.png')}}" >
                                </center>
                            </td>
                            <td>
                                회사주소
                            </td>
                            <td>
                                {{ret.company.company_si}} {{ret.company.company_gu}} {{ret.company.company_dong}} <br>{{ ret.company.company_address }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                <img src="{{url_for('static',filename='icon/phone.png')}}" >
                                </center>
                            </td>
                            <td>
                                회사번호 
                            </td>
                            <td>
                                {{ ret.company.company_tel }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                <img src="{{url_for('static',filename='icon/website.png')}}" >
                                </center>
                            </td>
                            <td>
                                웹사이트
                            </td>
                            <td>
                                <a href="{{ ret.company.company_website }}" target="_blank"><ins>{{ret.company.company_website}}</ins></a>
                            </td>
                        </tr>
                    </table>
                </h5>
                {% if session and 'user_id' in session and session['user_id'] == ret.user.id %}
                <button class="btn btn-primary" id="edit-button">수정하기</button>
                <script>
                $('#edit-button').click(function() {
                        window.location.href = '/company_portfolio_edit/{{ret.user.id}}';
                });
                </script>
                {% endif %}

                </div>
        </div>
    </div>
    <hr style="padding:0;margin:0;margin-left:-15px;margin-right:-15px;">

    <div class="row" style="padding-top:20px;">
        <div class="col-lg-2 col-md-2 col-sm-12" style="padding-left:20px;padding-right:8px;">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12" style="padding-left:0px;padding-right:10px;">
            <h5 style="padding-bottom:0px;padding-left:10px;">
            {{ ret.number_of_projects }} 개의 프로젝트
        </h5>
            <div  id="feed_container" style="margin-top:8px;">

                {% if session and session['is_company'] and session['user_id'] == ret.user.id %}
                <div class="col-lg-4 col-md-4 col-sm-12" style="padding:12px 10px 12px 10px;">
                <div class="card_container ">
                    <card_header>
                        <div class="bio">
                            <a href="/create_project">
                                <div class="bg" style="text-align: center;border-bottom:1px solid #dddddd;">
                                    <i class="fa fa-plus fa-4x" style="color:#777777;margin:0;line-height:210px;"></i>
                                </div>
                            </a>
                                <div class="container" style="margin-top:10px;margin-left:10px;display:table-cell;">
                                    <div class="row">
                                        <div class="card_custom_body">
                                            <h4>
                                            <a href="/create_project">
                                                프로젝트 생성하기
                                            </a>
                                        </h4>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </card_header>
                </div>
                </div>
                {% endif %}
                {% for project in ret.projects %}
                <div class="col-lg-4 col-md-4 col-sm-12" style="padding:12px 10px 12px 10px;">
                <div class="card_container ">
                    <card_header>
                        <div class="bio">
                            <a href="/project_detail/{{ project.project.id }}">
                                <div class="bg" style="background:  url({{ ('/static/'+project.image_path)|resize('500x400') }});
                                        background-repeat:no-repeat;
                                        background-size: cover;
                                        background-position: center;
                                        ">
                                </div>
                            </a>
                                <div class="container" style="margin-top:10px;margin-left:10px;display:table-cell;">
                                    <div class="row">
                                        <div class="card_custom_body">
                                            <h4>
                                            <a href="/project_detail/{{ project.project.id }}">
                                                {{ project.project.project_name }}
                                            </a>
                                        </h4>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </card_header>
                </div>
                </div>
                {% endfor %}
            </div>
        <center>
            <a href="/company_portfolio/{{ ret.user.id }}/project">
                <div style="color:#000000;background:#f0f0f0;height:44px;vertical-align:middle;padding: 10px 10px 0px 10px;margin-left:10px;margin-right:10px;">
                    모든 프로젝트 보기 >

                </div>
            </a>
        </center>
        {% if ret.has_furniture_cateogry %}
        <hr style="padding:0;margin-left:10px;margin-right:10px;">
        <h5 style="padding-bottom:0px;padding-left:10px;">
            {{ ret.number_of_products }} 개의 상품
        </h5>
            <div  id="feed_container" style="margin-top:8px;">

                {% if session and session['is_company'] and session['user_id'] == ret.user.id %}
                 <div class="col-lg-4 col-md-4 col-sm-12" style="padding:12px 10px 12px 10px;">
                <div class="card_container ">
                    <card_header>
                        <div class="bio">
                            <a href="/create_product">
                                <div class="bg" style="text-align: center;border-bottom:1px solid #dddddd;">
                                    <i class="fa fa-plus fa-4x" style="color:#777777;margin:0;line-height:210px;"></i>
                                </div>
                            </a>
                            <div class="container" style="margin-top:10px;margin-left:10px;display:table-cell;">
                                <div class="row">
                                    <div class="card_custom_body">
                                        <h4>
                                        <a href="/create_product">
                                            상품 생성하기
                                        </a>
                                    </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </card_header>
                </div>
                </div>
                {% endif %}
                {% for product in ret.products %}
                <div class="col-lg-4 col-md-4 col-sm-12" style="padding:12px 10px 12px 10px;">
                <div class="card_container ">
                    <card_header>
                        <div class="bio">
                            <a href="/product_detail/{{ product.product.id }}">
                                <div class="bg" style="background:  url({{ ('/static/'+product.image_path)|resize('500x400') }});
                                        background-repeat:no-repeat;
                                        background-size: cover;
                                        background-position: center;
                                        ">
                                </div>
                            </a>
                                <div class="container" style="margin-top:10px;margin-left:10px;display:table-cell;">
                                    <div class="row">
                                        <div class="card_custom_body">
                                            <h4>
                                            <a href="/product_detail/{{ product.product.id }}">
                                                {{ product.product.product_name }}
                                            </a>
                                        </h4>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </card_header>
                </div>
                </div>
                {% endfor %}
            </div>
            <center>
                <a href="/company_portfolio/{{ ret.user.id }}/shop">
                    <div style="color:#000000;background:#f0f0f0;height:44px;vertical-align:middle;padding: 10px 10px 0px 10px;margin-left:10px;margin-right:10px;">
                        모든 제품 보기 >

                    </div>
                </a>
            </center>

        {% endif %}
            <br>
        </div>
    </div>

</div>
</div>
<script type="text/javascript">
function followPost(to_user_id) {
    var data = {
    "from_user_id": {{ session['user_id'] }},
    "to_user_id": to_user_id
    };
    $.ajax({
        url: '/follow_post',
        data: data,
        type: 'POST',
        success: function(response) {
            var jsonData = JSON.parse(response);
console.log(jsonData);
            if ( jsonData["is_followed"] ) {
                $('#follow-button-number').css('color','#777777');
                $('#follow-button-number').css('font-weight','400');
                $('#follow-button').css('color','#777777');
                $('#follow-button').css('font-weight','400');
                $('#follow-button-number').text(jsonData['number_of_to_user_follow']);
            } else {
                $('#follow-button-number').css('color','#3B5998');
                $('#follow-button-number').css('font-weight','600');
                $('#follow-button').css('color','#3B5998');
                $('#follow-button').css('font-weight','600');
                $('#follow-button-number').text(jsonData['number_of_to_user_follow']);
            }
        },
        error: function(error) {
            console.log(error);
        }
    });
}
</script>
{% endblock %}
