{% include "company_portfolio_navbar_mobile.html" %}
    <style type="text/css">
.mobile-card-container {
    width: 100%;
}
.mobile-card-body-item {
    padding-left: 10px;
    padding-right:10px;
    background:#ffffff;
}
mobile-card-header {
    display: block;
    overflow: hidden;
    position: relative;
    border: 1px solid #dddddd;
    border-left: 0px;
    border-right:0px;
}
    </style>
<div class="main-container " style="margin-top:0px;background-color:#FFFFFF;border:1px solid #dddddd;border-top:0px;margin-bottom:10px;overflow-x:hidden;">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12">
            <br>
            <div class="col-lg-6 col-md-6 col-xs-6">
                <button onclick="followPost({{ret.user.id}});" class="btn btn-primary" style="width:100%;cursor:pointer;">
                    팔로우 하기
                </button>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6">
                <a >
                    <button class="btn btn-warning" style="width:100%;">
                        contact me
                    </button>
                </a>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12" style="padding-top:30px;padding-bottom:20px;">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h5 style="padding-bottom:0px;padding-top:15px;">
                    {{ ret.company.company_introduction }}
                </h5>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h5 style="padding-bottom:0px;padding-top:15px;">
                    회사이름 : {{ ret.user.username }}
                    <br>
                    회사주소 : {{ ret.company.company_address }}
                    <br>
                    회사번호 : {{ ret.company.company_tel }}
                    <br>
                    회사 웹사이트 : {{ ret.company.company_website }}
                </h5>
                {% if session and 'user_id' in session and session['user_id'] == ret.user.id %}
                <!--
                <button class="btn btn-primary" id="edit-button">수정하기</button>
                -->
                <script>
                $('#edit-button').click(function() {
                        window.location.href = '/company_portfolio_edit/{{ret.user.id}}';
                });
                </script>
                {% endif %}

                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12">
            <div class="dummy-container" style="height:70px;border-left:0px;border-right:0px;">
                <div class="col-md-6 col-xs-6" style="padding-right:0px;margin:10px 0px 10px 0px;">
                    <div style="height:50px;border:1px solid #dddddd;">
                        <center>
                        <h5 style="{% if ret.is_user_follow %}color:#3B5998;font-weight:600;{% else %}color:#777777;font-weight:400;{% endif %}vertical-align:middle;padding-bottom:0px;padding-top:7px;" id="follow-button-mobile-number">{{ ret.number_of_follow }}</h5>
                        <h5 style="{% if ret.is_user_follow %}color:#3B5998;font-weight:600;{% else %}color:#777777;font-weight:400;{% endif %}vertical-align:middle;padding-bottom:0px;" id="follow-button-mobile">팔로워</h5>
                    </center>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6" style="padding-left:0px;margin:10px 0px 10px 0px;">
                    <div style="width:100%;height:50px;border:1px solid #dddddd;border-left:0px;">
                        <center>
                        <h5 style="vertical-align:middle;padding-bottom:0px;padding-top: 7px;">{{ ret.number_of_from_follow }}</h5>
                        <h5 style="vertical-align:middle;padding-bottom:0px;">팔로잉</h5>
                    </center>
                    </div>
                </div>
                <!--
                <div class="followers" style="border:1px solid #dddddd;width:49%;height:100px;margin: 10px 10px 10px 10px;">
                    ?
                </div>
                <div class="followings">
                </div>
                -->
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
            <h5 style="padding-bottom:0px;">
            전체 {{ ret.number_of_projects }} 개의 프로젝트
        </h5>
            <div  id="feed_container" style="margin-top:10px;">
                {% for project in ret.projects %}
                <div class="mobile-card-container ">
                    <mobile-card-header>
                        <a href="/project_detail/{{ project.project.id }}">
                            <div class="bg" style="background:  url({{ '/static/'+project.image_path }});
                                    background-repeat:no-repeat;
                                    background-size: cover;
                                    background-position: center;
                                    ">
                            </div>
                        </a>
                            <div class="container" style="margin-top:10px;margin-left:10px;display:table-cell;">
                                <div class="row">
                                    <div class="mobile-card-body-item">
                                        <h4>
                                        <a href="/project_detail/{{ project.project.id }}">
                                            {{ project.project.project_name }}
                                        </a>
                                    </h4>
                                    </div>
                                </div>
                            </div>
                    </mobile-card-header>
                </div>
                <br>
                {% endfor %}
            </div>
        <center>
            <a href="/company_portfolio/{{ ret.user.id }}/project">
            <button class="btn btn-lg btn-primary" style="width:100%;">더보기</button>
            </a>
        </center>
        <hr/>
            <h5 style="padding-bottom:0px;">
            전체 {{ ret.number_of_products }} 개의 상품
        </h5>
            <div  id="feed_container" style="margin-top:10px;">
                {% for product in ret.products %}
                <div class="mobile-card-container ">
                    <mobile-card-header>
                            <a href="/product_detail/{{ product.product.id }}">
                                <div class="bg" style="background:  url({{ '/static/'+product.image_path }});
                                        background-repeat:no-repeat;
                                        background-size: cover;
                                        background-position: center;
                                        ">
                                </div>
                            </a>
                                <div class="container" style="margin-top:10px;margin-left:10px;display:table-cell;">
                                    <div class="row">
                                        <div class="mobile-card-body-item">
                                            <h4>
                                            <a href="/product_detail/{{ product.product.id }}">
                                                {{ product.product.product_name }}
                                            </a>
                                        </h4>
                                        </div>
                                    </div>
                                </div>
                    </mobile-card-header>
                </div>
                {% endfor %}
            </div>
            <center>
                <a href="/company_portfolio/{{ ret.user.id }}/shop">
                    <button class="btn btn-lg btn-primary" style="width:100%;">더보기</button>
                </a>
            </center>

            <hr/>
        </div>
    </div>

</div>
<script type="text/javascript">
function followPost(to_user_id) {
    var data = {
    "from_user_id": {{ session['user_id'] }},
    "to_user_id": to_user_id
    };
    $.ajax({
        url: '/follow_post',
        data: data,
        type: 'POST',
        success: function(response) {
            var jsonData = JSON.parse(response);
console.log(jsonData);
            if ( jsonData["is_followed"] ) {
                $('#follow-button-mobile-number').css('color','#777777');
                $('#follow-button-mobile-number').css('font-weight','400');
                $('#follow-button-mobile').css('color','#777777');
                $('#follow-button-mobile').css('font-weight','400');
                $('#follow-button-mobile-number').text(jsonData['number_of_to_user_follow']);
            } else {
                $('#follow-button-mobile-number').css('color','#3B5998');
                $('#follow-button-mobile-number').css('font-weight','600');
                $('#follow-button-mobile').css('color','#3B5998');
                $('#follow-button-mobile').css('font-weight','600');
                $('#follow-button-mobile-number').text(jsonData['number_of_to_user_follow']);
            }
        },
        error: function(error) {
            console.log(error);
        }
    });
}
</script>
