{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{  url_for('static',filename='css/bootstrap-rating.css') }}" />
<script src="{{ url_for('static',filename='js/bootstrap-rating.min.js') }}"></script>
<style type="text/css">
    * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

card_header {
  display: block;
  overflow: hidden;
  position: relative;

  }

.card_container {
    outline: 0;
    width: 100%;
    position: relative;
    float: left;
    margin: 1px 1px 1px 1px;

    background-color: #ffffff;

  }

.card_custom_body {
    padding-top: 15px;
    padding-left:25px;
    padding-right:25px;
    height: 70px;
}

.bg {
  border-bottom: 0px solid #5cc0ff;
  max-width: 100%;
  height:200px;
}

.bio:hover > .card_desc {
  cursor: pointer;
  opacity: 1;
}

.custom_jumbo{
  width:100%;
  z-index:1;
  height:150px;
  background-color:#576782;
  position:relative;
}
.custom_jumbo_navbar {
    width: 100%;
    height: 50px;
    background-color:#FFFFFF;
    position: relative;
}

.custom_jumbo_container{
  width:100%;
    height:100%;
  min-width:320px;
  margin: 0px auto;
  padding:20px 0;
}
.custom_jumbo_container h1{
  font-size:40px;
  color:#fff;
    margin-top: 100px;
    vertical-align: middle;
}

.custom_jumbo_container h2{
  font-size:15px;
  color:#ddd;
  line-height: 23px;
  vertical-align: middle;
  text-align: center;
}
#leftside_container {
    position: absolute;
    width: 240px;
    padding: 0;
    margin: 0;
    margin-top: 150px;
}
#rightside_container {
    position: relative;
    margin: 180px 0px 0px 240px;
}
#custom_jumbo_navbar_wrapper {
    position: relative;
    margin: 0px 0px 0px 160px;
    vertical-align: middle;
}
.profile_container {
    height:168px;
    width: 168px;
    z-index: 2;
    background-color: #000;
    margin-left: 20px;
}
#feed_container {
    overflow: auto;
}
.no-margin {
    margin:0;
}
.no-padding {
    padding:0;
}
textarea#comment {
    width: 100%;
    height: 130px;
    border:1px solid #dddddd;
}
.symbol-empty {
    color: #84bd5e;
    background: white;
}
.symbol-filled {
    color: #84bd5e;
    background: white;
}
#comment {
    border-radius:5px;
}
#comment:focus {
    outline: none;
}
</style>
<script>
$(document).ready(function() {
    $('#nav-toggle-5').css('color','#84bd5e');
    $('#nav-toggle-5').hover(function() {});
});
</script>
{% include "company_portfolio_navbar.html" %}
<div class="container main-container " style="margin-top:0px;background-color:#FFFFFF;border:1px solid #dddddd;border-top:0px;margin-bottom:10px;">
    <div class="row" style="padding-top:25px;height:222px;">
        <div class="col-lg-2 col-md-2 col-sm-12" style="padding-left:20px;padding-right:8px;">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12" style="padding-right:10px;padding-left:0px;">
            <div style="width:600px;padding-left:10px;padding-right:20px;">
                <h5 style="padding-bottom:20px; font-size:23px;font-weight:bold;color:#323232;">
                    {{ret.total_count}}개의 리뷰
                </h5>
                {% if session['logged_in'] and not (session['user_id'] == ret.user.id) %}
                <div class="no-margin no-padding" style="width:100%;height:220px;">
                    <div style="padding:10px 10px 10px 10px;">
                        <form action="/save_review?company_id={{ret.company.id}}&user_id={{session['user_id']}}" method="post">
                        <!-- form url add -->
                        <input type="hidden" name="review-rating" id="review-rating" class="rating" data-filled="fa fa-star fa-2x symbol-filled" data-empty="fa fa-star-o fa-2x symbol-empty" value="0"/>
                        <span style="font-size: 20px;padding-left:10px;color:black;">
                        평점을 매겨주세요
                        </span>
                        <script>
    $('#review-rating').rating();
    $('#review-rating').on('change', function () {
            //alert('Rating: ' + $(this).val());
            });
                        </script>
                        <br><br>
                        {{ reviewCommentForm.hidden_tag() }}
                        {% for message in reviewCommentForm.comment.errors %}
                        <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ reviewCommentForm.comment(placeholder="리뷰 입력...",autofocus=true) }}
                    <input type="submit" class="btn btn-primary pull-right" style="width:100px;" value="입력">
                </form>
                    </div>
                </div>
                <br>
                <br>
                <hr class="no-margin no-padding" >
                {% endif %}
                {% for review in ret.cur_reviews %}
                <div class="no-margin no-padding" style="width:100%;">
                    <div class="no-margin" style="padding-top:30px;">
                        {% if review.user_profile_image_path %}
                        <div style="background:url({{url_for('static',filename=review.user_profile_image_path)}}); border:1px solid #dddddd;height:50px;width:50px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 25px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;"></div>
                        {% else %}
                        <div style="background-color:#dddddd; border:1px solid #dddddd;height:50px;width:50px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 25px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;"></div>
                        {% endif %}
                        <div style="display:table-cell;vertical-align:middle;padding-left:10px;">
                            <h5 style="vertical-align:top; padding-bottom:0px;font-size:21px;line-height:23px;">
                                {{ review.user.username }}
                            </h5>
                            <h4 style="margin:0;padding:0;font-size:14px;color:#84bd5e;">
                                <span style="display:table-cell;">
                                    {% for i in range(review.review.star) %}
                                    <i class="fa fa-star"></i>
                                    {% endfor %}
                                    {% for i in range(5-review.review.star) %}
                                    <i class="fa fa-star-o"></i>
                                    {% endfor %}
                                </span>
                            </h4>
                        </div>
                    </div>
                    <p class="no-margin" style="padding-top:10px;font-size:13px;color:#777777;padding-bottom:20px;">
                    {{ review.review.comment }}
                    </p>
                </div>
                <hr class="no-margin no-padding" >
                {% endfor %}
                <center>
                    {{ ret.pagination.links }}
                </center>
            </div>
        </div>
    </div>
</div>
{% endblock %}
