{% extends "base.html" %}
{% block content %}
    <style type="text/css">
    #create_project_form {
        background-color: #FFFFFF;
        border: 1px  solid #dddddd;
        border-top: 0px;
    }
    input#project_name,
    input#project_credit,
    textarea#project_body {
        border-color: #DDDDDD;
        -webkit-border-radius: 3px 0 0 3px;
        -moz-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
        border-style: solid;
        border-width: 2px 1px 1px 2px;
        color: #888888;
        font-size: 14px;
        height: 36px;
        width: 96%;
        margin: 10px 2% 10px 2%;
        vertical-align: middle;
        display: block;
    }
    textarea#project_body {
        height: 300px;
    }
    </style>
<div class="container main-container">
    <div id="create_project_form">
        <br>
        <div>
            <h3 style="padding-left:10px;"><font color=red>step1. 프로젝트 정보 작성&nbsp;&nbsp;</font>
            step2. 사진별 피드 작성&nbsp;&nbsp;
            step3. 프로젝트 생성 완료</h3>
        </div>
            <h3 style="padding-left:10px;">사진 등록(필수)</h3>
        <form action="{{ url_for('create_project') }}" method="POST" enctype="multipart/form-data" class="dropzone" style="border:0px;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;">
            <div id='uploadme' class="fallback">
                <input name="file" type="file" multiple/>
            </div>
        </form>
        <form action="{{ url_for('create_project') }}" method="POST" style="margin-left:10px;margin-right:10px;">
            <br>
            <h3>필수입력사항(*)</h3>
            {{ createProjectForm.hidden_tag() }}
            {{ createProjectForm.project_name(placeholder='프로젝트 명') }}
            {% for message in createProjectForm.project_name.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            <hr/>
            {{ createProjectForm.project_body(placeholder='이 프로젝트에 대한 설명을 해주세요.') }}
            {% for message in createProjectForm.project_body.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            <hr/>
            {{ createProjectForm.project_credit(placeholder="사진 저작권이 누구에게 있나요? (ex. "+session['username']+")") }}
            {% for message in createProjectForm.project_credit.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            <hr/>
            <h3>선택사항</h3>
            <div style="margin-left:20px;margin-right:20px;">
            프로젝트 타입 : {{ createProjectForm.project_type_category }}
            <br>
            프로젝트 지역 주소 : 
            <br>
            프로젝트 스타일 : {{ createProjectForm.project_style_category }}
            <br>
            프로젝트 면적 : {{ createProjectForm.project_area }}
            <br>
            활동 지역(수기작성) : {{ createProjectForm.project_location }}
            <br>
            <style>
            input#hash_tag {
                width: 100%;
            }
            </style>
            {{ createProjectForm.hash_tag(placeholder='해시태그(#으로 구분. ex. #액자 #차가운)') }}
        </div>

            <hr/>
            <div>
                <input name="submit" class="btn   btn-lg btn-primary" value="다음" type="submit" style="width:100%;">
            </div>
            <br>
        </form>
    </div>
</div>
    <br>
    <br>
    <br>
    <br>
<script>
</script>
{% endblock %}
