{% extends "base.html" %}
{% block content %}
    <style type="text/css">

    #all_pros_container {
        background-color: #FFFFFF;
    }
    #pros_container {
        background-color:inherit;
        width: 100%;
        float: left;
        margin:0;
        height: 240px;
        border-bottom: 1px solid #DDDDDD;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #pros_background_image {
        position: absolute;
        width: 330px;
        height: 200px;
    }
    #pros_body {
        position: relative;
        margin: 0px 0px 0px 345px;
        height: 330px;
    }
    hr.find_pros {
        margin: 10px 10px 10px 10px;
        /*
        width: 98%;
        */
        color: #f5f5f5; border: thin solid #f5f5f5;
    }
    .findpros-contents-list-container {
        background-color: #FFFFFF;
        border: 1px solid #DDDDDD;
        margin-bottom: 10px;
    }
    .findpros-contents-list-container-items {
    }
    .findpros-contents-list-container-item {
    }
    .select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 80px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    padding-left: 10px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    background: #fff url( {{ url_for('static',filename='img/arrowdown.gif') }} ) no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style:disabled {
    border: 1px solid #987654;
}

.select-style:focus {
    outline: none;
}
.select-style select:focus {
    outline: none;
}

    </style>
<div class="container main-container nav-margin hidden-xs">
<style>
    .nav-stacked li {
        border-bottom:0px;
    }
    .panel-heading,
    .panel-body{
        padding-left:16px;
        padding-top: 16px;
        padding-bottom:16px;
    }
    .panel-title {
        font-size: 14px;
        font-weight: bold;
    }
    .panel-default > .panel-heading {
        background:#ffffff;
        border-top:0px;
        border-bottom:0px;
    }
    .nav-stacked > li a {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    form select#company_si,
    form select#company_gu,
    form select#company_dong {
        height:30px;
    }
    </style>
    <div class="row" style="padding-top:19px;">
        <div class="col-lg-3 col-md-3 col-sm-12" style="padding-right:0px;width:20%;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/find_pros/4"> 
                            홈스타일링
                            <span class="pull-right"><i class="fa fa-caret-right"></i></span>
                        </a>
                    </h4>
                </div>
                <hr style="margin:0px;padding:0px;">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/find_pros/1"> 
                            주거인테리어
                            <span class="pull-right"><i class="fa fa-caret-right"></i></span>
                        </a>
                    </h4>
                </div>
                <hr style="margin:0px;padding:0px;">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/find_pros/2"> 
                            상업 인테리어
                            <span class="pull-right"><i class="fa fa-caret-right"></i></span>
                        </a>
                    </h4>
                </div>
                <hr style="margin:0px;padding:0px;">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/find_pros/6"> 
                            인테리어 디자이너
                            <span class="pull-right"><i class="fa fa-caret-right"></i></span>
                        </a>
                    </h4>
                </div>
                <hr style="margin:0px;padding:0px;">
                
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/find_pros/3"> 
                            가구(제작 가구)
                            <span class="pull-right"><i class="fa fa-caret-right"></i></span>
                        </a>
                    </h4>
                </div>
                <hr style="margin:0px;padding:0px;">
                <!--
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/find_pros/5"> 
                            소품 및 Deco
                            <span class="pull-right"><i class="fa fa-caret-right"></i></span>
                        </a>
                    </h4>
                </div>
                <hr style="margin:0px;padding:0px;">
                -->
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12" style="width:80%;">

            <div class="findpros-contents-list-container" style="padding-left:20px;padding-right:20px;">
                <div class="findpros-contents-list-container-items">
                    <ul class="breadcrumb" style="border:0px;margin:0px;padding:0px;padding-top:16px;padding-bottom:16px;">
                        <li><a href="/find_pros" style="color:#84bd5e;">전문가 </a></li>
                        <li style="color:#84bd5e;">{{ pros_category_name }}</li>
                    </ul>
                    <hr style="margin:0px;padding:0px;">

                    <div class="w100 productFilter clearfix" style="border-top:0px;margin-bottom:0px;margin-top:0px;padding-bottom:10px;">
                        <span class="pull-right">
                            <!--
                        <h5 style="margin-left:10px;padding-bottom:0px;padding-top:5px;">주소 또는 회사명을 입력하여 전문가를 찾아보세요. </h5>
                        -->
                    </span>

                        <form action="{% if pros_category_name == '전체' %}{{ url_for('find_pros') }}{% endif %}{% if pros_category_name != '전체' %}/find_pros/{{ pros_category_id }}{% endif %}" method=post enctype="multipart/form-data">
                        <div class="local-search" id="local-search">
                            <!--
                            <div class="type-select" id="type-select" style="display:table-cell;">
                                <select class="select-style" style="width:90px;height:30px;">
                                    <option disabled selected value>검색 구분</option>
                                    <option>주소 검색</option>
                                    <option>이름 검색 </option>
                                </select>
                            </div>
                            -->
                            <div class="company-item-region" id="sigudong-search" style="display:table-cell;;">
                                {{ findProsForm.company_si }}
                                {{ findProsForm.company_gu }}
                                {{ findProsForm.company_dong }}
                                    <input placeholder="회사 이름으로 찾기" style="width:250px;height:30px;border:1px solid #dddddd;border-radius:3px;">
                                    <input name="submit" class="btn   btn-sm btn-primary"  value="검색" type="submit" style="width:70px;height:30px;">
                                </h5>
                            </div>
                            <!--
                            <div class="item-name" id="name-search" style="display:table-cell;padding-left:10px;">
                                    <input placeholder="회사 이름으로 찾기" style="width:250px;height:30px;border:1px solid #dddddd;border-radius:3px;">
                                    <input name="submit" class="btn   btn-sm btn-primary"  value="검색" type="submit" style="width:70px;height:30px;">
                                </h5>
                            </div>
                            -->
                        </div>
                        </form>
                        
                    </div>

                    <div class="xsResponse clearfix">
                        <div id="all_pros_container">
                            {% for pros in ret_pros %}
                            {% if pros == ret_pros[-1] %}
                            <div id="pros_container" style="border-bottom:0px;">
                            {% else %}
                            <div id="pros_container">
                            {% endif %}
                                <div class="findpros-contents-list-container-item">
                                    <a href="/company_portfolio/{{ pros.user.id }}">
                                        <div id="pros_background_image" style="background: url({{ ('/static/'+pros.image_path)|resize('600x300') }});
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center;
                                            ">
                                        </div>
                                    </a>
                                    <div id="pros_body">
                                        <div class="container" style="width:inherit;margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;">
                                            <h1 href="/company_portfolio/{{ pros.user.id }}">
                                                <a href="/company_portfolio/{{ pros.user.id }}">
                                                    <div class="pull-left">
                                                        <h2>
                                                            {% if pros.user_profile_image_path %}
                                                            <div style="background:url({{url_for('static',filename=pros.user_profile_image_path)|resize('60x60')}}); border:1px solid #dddddd;height:50px;width:50px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 25px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;"></div>
                                                            {% else %}
                                                            <div style="background-color:#dddddd; border:1px solid #dddddd;height:50px;width:50px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 25px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;"></div>
                                                            {% endif %}
                                                            <div style="display:table-cell;vertical-align:middle;padding-left:10px;">
                                                                <h5 style="vertical-align:top; padding-bottom:0px;font-size:18px;line-height:23px;">
                                                                    <strong>
                                                                    {{ pros.user.username }}
                                                                </strong>
                                                                </h5>
                                                                <h4 style="margin:0;padding:0;font-size:14px;color:#84bd5e;" >
                                                                    <span style="display:table-cell;">
                                                                        {% for i in range(pros.average_star) %}
                                                                        <i class="fa fa-star"></i>
                                                                        {% endfor %}
                                                                        {% for i in range(5-pros.average_star) %}
                                                                        <i class="fa fa-star-o"></i>
                                                                        {% endfor %}
                                                                        전문가에 대한 리뷰 {{pros.reviews|length}}>
                                                                    </span>
                                                                </h4>
                                                            </div>
                                                        </h2>
                                                    </div>
                                                </a>
                                                <div class="pull-right">
                                                    <h5>
                                                        <div style="display:table-cell;vertical-align:middle;padding-left:5px;">
                                                            {{ pros.company.company_tel }}
                                                        </div>
                                                    </h5>
                                                </div>
                                            </div>
                                        <h4 style="color:#000000;font-weight:bold;padding-top:5px;">{{ pros.company.company_si }} {{ pros.company.company_gu }} {{ pros.company.company_dong }} {{ pros.company.company_address }}</h4>
                                        <h5>{{ pros.company.company_introduction }}
                                        {% if pros.over_introduction %}
                                        <a href="/company_portfolio/{{ pros.user.id }}" style="color:#84bd5e">...더보기</a>
                                        {% endif %}
                                    </h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
.mobile-pros-container {
    width: 100%;
}
.mobile-card-body-item {
    padding-left: 10px;
    padding-right:10px;
    background:#ffffff;
}
mobile-card-header {
    display: block;
    overflow: hidden;
    position: relative;
    border: 1px solid #dddddd;
    border-left: 0px;
    border-right:0px;
}
</style>
<div class="main-container nav-margin visible-xs" style="overflow:hidden;">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12">
            <div class="panel panel-default" style="border-left:0px;border-right:0px;border-bottom:0px;">
                <div class="w100 productFilter clearfix" style="border-top:0px;margin-bottom:0px;">
                    <p class="pull-left" style="font-size:20px;margin-left:10px;"> {{ pros_category_name }}  <strong>{{ ret_pros|length }}</strong> 전문가
                    </p>
                <button id="filter-button" class="btn btn-primary" style="width:95%;margin:5px 10px 10px 10px;">필터</button>
                <script>
                $('#filter-button').click(function() {
                    var $filter_wrapper = $('#mobile-collapseCategory');
                    if ($filter_wrapper.is(':visible')) {
                        $filter_wrapper.hide();
                    } else {
                        $filter_wrapper.show();
                    }
                });
                </script>
                </div>
                <div id="mobile-collapseCategory" class="panel-collapse collapse in" style="display:none;">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked tree">
                            <li ><a href="/find_pros/1" >  주거 인테리어</a></li>
                            <li><a href="/find_pros/2">  상업 인테리어</a></li>
                            <li><a href="/find_pros/4"> 인테리어 디자이너</a></li>
                            <li><a href="/find_pros/3"> 가구 회사</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
            {% for pros in ret_pros %}
            <div class="mobile-pros-container" style="margin-bottom:10px;">
                <mobile-card-header>
                    <a href="/company_portfolio/{{ pros.user.id }}">
                        <div class="bg" style="background: url({{ ('/static/'+pros.image_path)|resize('600x600') }});
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            ">
                        </div>
                    </a>
                    <div class="mobile-card-body-item" style="padding-top:10px;">
                        <div class="container" style="width:inherit;margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;">
                            <h1 href="/company_portfolio/{{ pros.user.id }}">
                                    <a href="/company_portfolio/{{ pros.user.id }}">
                                        <div class="pull-left">
                                            <h2 style="padding-bottom:0px;">
                                                {% if pros.user_profile_image_path %}
                                                <div style="background:url({{url_for('static',filename=pros.user_profile_image_path)|resize('40x40')}}); border:1px solid #dddddd;height:35px;width:35px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 17.5px;border-radius:17.5px;-webkit-border-radius:17.5px;-moz-border-radius:17.5px;"></div>
                                                {% else %}
                                                <div style="background-color:#dddddd; border:1px solid #dddddd;height:35px;width:35px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 17.5px;border-radius:17.5px;-webkit-border-radius:17.5px;-moz-border-radius:17.5px;"></div>
                                                {% endif %}
                                                                                        <div style="display:table-cell;vertical-align:middle;padding-left:10px;">
                                                {{ pros.user.username }}
                                            </div>
                                        </h2></div>
                                    </a>
                                </a>
                        </div>
                        <br>
                        <h4 style="padding-bottom:0px;">
                            <i class="fa fa-phone-square 1x" style="color:#777777;display:table-cell;vertical-align:middle;" > </i>
                            <div style="display:table-cell;vertical-align:middle;padding-left:5px;">
                                {{ pros.company.company_tel }}
                            </div>
                        </h4>

                        <h4>{{ pros.company.company_si }} {{ pros.company.company_gu }} {{ pros.company.company_dong }} {{ pros.company.company_address }}</h4>
                        <h5>{{ pros.company.company_introduction }}
                        {% if pros.over_introduction %}
                        <a href="/company_portfolio/{{ pros.user.id }}">...더보기</a>
                        {% endif %}
                    </h5>
                    </div>
                    </mobile-card-header>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<script type="text/javascript">
    window.state = {};
function bindLocal1(obj) {
        var map = window.state.map;
        var selects = $(".local-search " + obj + " select");
        var local1 = $(selects[0]);
        var local2 = $(selects[1]);
        var local3 = $(selects[2]);

        local1.attr("disabled", false);
        local2.attr("disabled", true);
        local3.attr("disabled", true);

        local1.children().remove();
        var items = window.state.addresses;       
        $(items).each(function (i, item) {
            local1.append($("<option />").text(item.name).val(item.name));
        });
        
    }

    function bindLocal2(obj) {
        var selects = $(".local-search " + obj + " select");
        var local1 = $(selects[0]);
        var local2 = $(selects[1]);
        var local3 = $(selects[2]);

        var v1 = local1.val();
        var node = findNode(v1);

        var option = $("<option />").text("전체");
        local2.children().remove();
        local2.append(option);

        if (node && node.items) {
            for (var j = 0; j < node.items.length; j++) {
                var item2 = node.items[j];
                var option = $("<option />").text(item2.name);
                local2.append(option);

                local2.attr("disabled", false);
            }
        } else {
            local2.attr("disabled", true);
        }
    }

    function bindLocal3(obj) {
        var selects = $(".local-search " + obj + " select");
        var local1 = $(selects[0]);
        var local2 = $(selects[1]);
        var local3 = $(selects[2]);

        var v1 = local1.val();
        var v2 = local2.val();
        var node = findNode(v1, v2);

        if (node) {
            var option = $("<option />").text("전체");
            local3.children().remove();
            local3.append(option);
        }

        if (node && node.items) {
            for (var j = 0; j < node.items.length; j++) {
                var item2 = node.items[j];
                var option = $("<option />").text(item2.name);
                local3.append(option);

                local3.attr("disabled", false);
            }
        } else {
            var option = $("<option />").text("전체");
            local3.children().remove();
            local3.append(option);
            local3.attr("disabled", true);
        }

        
    }

function findNode(v1, v2, v3) {
        if (v1) {
            var local1s = window.state.addresses;
            for (var i = 0; i < local1s.length; i++) {
                var local1 = local1s[i];

                if (local1.name == v1) {
                    if (v2) {
                        var local2s = local1.items;
                        for (var j = 0; j < local2s.length; j++) {
                            var local2 = local2s[j];

                            if (local2.name == v2) {
                                if (v3) {
                                    var local3s = local2.items;
                                    for (var k = 0; k < local3s.items; k++) {
                                        var local3 = local3s[k];

                                        if (local3 == v3) {
                                            return local3;
                                        }
                                    }
                                    return null;
                                }
                                return local2;
                            }
                        }
                        return null;
                    }
                    return local1;
                }
            }
        }
        return null;
    }


function initLocalSearch() {
    var items = $(".local-search .company-item-region select");
        var local1 = $(items[0]);
        local1.children().remove();
        local1.append($("<option />").text("로딩 중"))
        local1.attr("disabled", true);
        local1.change(function () {
            bindLocal2(".company-item-region");
            bindLocal3(".company-item-region");
        });

        var local2 = $(items[1]);
        local2.attr("disabled", true);
        local2.change(function () {
            bindLocal3(".company-item-region");
        });

        var local3 = $(items[2]);
        local3.attr("disabled", true);

        $.when(
             $.ajax({
                 url: "/json/address"
             })
        ).done(function (data) {
            data = data.results;
            var new_data = [];
            new_data.push(data[8]);
            new_data.push(data[1]);
            new_data.push(data[11]);
            new_data.push(data[7]);
            new_data.push(data[5]);
            new_data.push(data[6]);
            new_data.push(data[10]);
            new_data.push(data[9]);
            new_data.push(data[4]);
            new_data.push(data[0]);
            new_data.push(data[16]);
            new_data.push(data[15]);
            new_data.push(data[3]);
            new_data.push(data[2]);
            new_data.push(data[13]);
            new_data.push(data[12]);
            new_data.push(data[14]);
            window.state.addresses = new_data

            bindLocal1(".company-item-region");
            bindLocal2(".company-item-region");
            bindLocal3(".company-item-region");

            $(".item_submit").removeAttr("disabled");

        });
    $(".local-search .company-item-region button").click(function () {
            var selects = $(".local-search .company-item-region select");

            var local1 = $(selects[0]);
            var local2 = $(selects[1]);
            var local3 = $(selects[2]);

            var selected = !local3.is(":disabled") ? local3.find("option:selected") : local2.find("option:selected");
            var lat = selected.data("lat");
            var lng = selected.data("lng");
            var zoom = 20 - parseInt(selected.data("zoom"));

            location.href = "/search/map?lat=" + lat + "&lng=" + lng + "&zoom="+ zoom;
        });

}
$(document).ready(function () {
        initLocalSearch();
        $('#type-select').change(function() {
            var index = $("#type-select option").index($("#type-select option:selected"));
            if ( index == 1 ) {
                $('#name-search').hide();
                $('#sigudong-search').show().css('display','table-cell');
            } else if ( index == 2 ) {
                $('#name-search').show().css('display','table-cell');
                $('#sigudong-search').hide();
            }
            });
        });
$('#nav-dropdown-toggle-2').css('color','#84bd5e');
$('#nav-dropdown-toggle-2').hover(function() {
        });
</script>
{% endblock %}
