{% extends "base.html" %}
{% block content %}
    <style type="text/css">

    #all_pros_container {
        background-color: #FFFFFF;
    }
    #pros_container {
        background-color:inherit;
        width: 100%;
        float: left;
        margin:0;
        height: 300px;
        border-bottom: 1px solid #DDDDDD;
    }
    #pros_background_image {
        position: absolute;
        width: 400px;
        height: 290px;
        margin: 0px 5px 0px 5px;
    }
    #pros_body {
        position: relative;
        margin: 5px 0px 5px 420px;
        height: 290px;
    }
    hr.find_pros {
        margin: 10px 10px 10px 10px;
        /*
        width: 98%;
        */
        color: #f5f5f5; border: thin solid #f5f5f5;
    }
    .findpros-contents-list-container {
        background-color: #FFFFFF;
        margin-left: -20px;
        border: 1px solid #DDDDDD;
        margin-bottom: 10px;
    }
    .findpros-contents-list-container-items {
        margin: 10px 10px 10px 10px;
    }
    .findpros-contents-list-container-item {
        margin: 5px 5px 5px 5px;
    }
    .select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 80px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    padding-left: 10px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    background: #fff url( {{ url_for('static',filename='img/arrowdown.gif') }} ) no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style:disabled {
    border: 1px solid #987654;
}

.select-style:focus {
    outline: none;
}
.select-style select:focus {
    outline: none;
}

    </style>
<div class="container main-container ">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb" style="margin-bottom:10px;background-color:#FFFFFF;margin-top:10px;">
                <li><a href="/find_pros">전문가 </a></li>
                <li>{{ pros_category_name }}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12">
            <div class="panel panel-default">
                <div id="collapseCategory" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked tree">
                            <li ><a href="/find_pros/1" >  주거 인테리어</a></li>
                            <li><a href="/find_pros/2">  상업 인테리어</a></li>
                            <li><a href="/find_pros/4"> 인테리어 디자이너</a></li>
                            <li><a href="/find_pros/3"> 가구 회사</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
            <div class="findpros-contents-list-container">
                <div class="findpros-contents-list-container-items">
                    <div class="w100 productFilter clearfix" style="border-top:0px;margin-bottom:0px;">
                        <p class="pull-left" style="font-size:20px;margin-left:10px;"> {{ pros_category_name }}  <strong>{{ ret_pros|length }}</strong> 전문가
                        </p>
                        <!--
                        <div class="pull-right ">
                            <div class="change-view pull-right"><a href="#" title="Grid" class="grid-view"> <i
                                        class="fa fa-th-large"></i> </a> <a href="#" title="List" class="list-view "><i
                                        class="fa fa-th-list"></i></a></div>
                        </div>
                        -->
                        <br> <br>
                        <h5 style="margin-left:10px;">주소 또는 회사명을 입력하여 전문가를 찾아보세요. </h5>

                        <form action="{% if pros_category_name == '전체' %}{{ url_for('find_pros') }}{% endif %}{% if pros_category_name != '전체' %}/find_pros/{{ pros_category_id }}{% endif %}" method=post enctype="multipart/form-data">
                        <div class="local-search" id="local-search">
                            <div class="type-select" style="display:table-cell;">
                                <select class="select-style" style="width:120px;">
                                    <option>주소로 회사찾기</option>
                                    <!--
                                    <option>이름으로 회사 찾기 </option>
                                    -->
                                </select>
                            </div>
                            <div class="company-item-region" style="display:table-cell;padding-left:10px;">
                                {{ findProsForm.company_si }}
                                {{ findProsForm.company_gu }}
                                {{ findProsForm.company_dong }}
                                    <input name="submit" class="btn   btn-sm btn-primary"  value="찾기" type="submit" style="width:50px;">
                                </h5>
                            </div>
                            <div class="item-name" id="item-name" style="display:none;padding-left:10px;">
                                    <input placeholder="회사 이름으로 찾기" style="width:70%;">
                                    <input name="submit" class="btn   btn-sm btn-primary"  value="찾기" type="submit">
                                </h5>
                            </div>
                        </div>
                        </form>
                        
                    </div>

                    <div class="xsResponse clearfix">
                        <div id="all_pros_container">
                            {% for pros in ret_pros %}
                            <div id="pros_container">
                                <div class="findpros-contents-list-container-item">
                                    <a href="/company_portfolio/{{ pros.user.id }}">
                                        <div id="pros_background_image" style="background: url({{ '/static/'+pros.image_path }});
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center;
                                            ">
                                        </div>
                                    </a>
                                    <div id="pros_body">
                                        <div class="container" style="width:inherit;margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;">
                                            <h1 href="/company_portfolio/{{ pros.user.id }}">
                                                    <a href="/company_portfolio/{{ pros.user.id }}">
                                                        <div class="pull-left"><h2>
                                                                <div style="background-color:#dddddd; border:1px solid #dddddd;height:35px;width:35px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 17.5px;border-radius:17.5px;-webkit-border-radius:17.5px;-moz-border-radius:17.5px;"></div>
                                                                                                        <div style="display:table-cell;vertical-align:middle;padding-left:10px;">
                                                                {{ pros.user.username }}
                                                            </div>
                                                        </h2></div>
                                                    </a>
                                                </a>
                                                <div class="pull-right"><h4>
                                                        <i class="fa fa-phone-square 1x" style="color:#777777;display:table-cell;vertical-align:middle;" > </i>
                                                    <div style="display:table-cell;vertical-align:middle;padding-left:5px;">
                                                        {{ pros.company.company_tel }}
                                                    </div>
                                            </h4></div>
                                        </div>
                                        <br>
                                        <h4>{{ pros.company.company_si }} {{ pros.company.company_gu }} {{ pros.company.company_dong }} {{ pros.company.company_address }}</h4>
                                        <h5>{{ pros.company.company_introduction }}
                                        {% if pros.over_introduction %}
                                        <a href="/company_portfolio/{{ pros.user.id }}">...더보기</a>
                                        {% endif %}
                                    </h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.state = {};
function bindLocal1(obj) {
        var map = window.state.map;
        var selects = $(".local-search " + obj + " select");
        var local1 = $(selects[0]);
        var local2 = $(selects[1]);
        var local3 = $(selects[2]);

        local1.attr("disabled", false);
        local2.attr("disabled", true);
        local3.attr("disabled", true);

        local1.children().remove();
        var items = window.state.addresses;       
        $(items).each(function (i, item) {
            local1.append($("<option />").text(item.name).val(item.name));
        });
        
    }

    function bindLocal2(obj) {
        var selects = $(".local-search " + obj + " select");
        var local1 = $(selects[0]);
        var local2 = $(selects[1]);
        var local3 = $(selects[2]);

        var v1 = local1.val();
        var node = findNode(v1);

        var option = $("<option />").text("전체");
        local2.children().remove();
        local2.append(option);

        if (node && node.items) {
            for (var j = 0; j < node.items.length; j++) {
                var item2 = node.items[j];
                var option = $("<option />").text(item2.name);
                local2.append(option);

                local2.attr("disabled", false);
            }
        } else {
            local2.attr("disabled", true);
        }
    }

    function bindLocal3(obj) {
        var selects = $(".local-search " + obj + " select");
        var local1 = $(selects[0]);
        var local2 = $(selects[1]);
        var local3 = $(selects[2]);

        var v1 = local1.val();
        var v2 = local2.val();
        var node = findNode(v1, v2);

        if (node) {
            var option = $("<option />").text("전체");
            local3.children().remove();
            local3.append(option);
        }

        if (node && node.items) {
            for (var j = 0; j < node.items.length; j++) {
                var item2 = node.items[j];
                var option = $("<option />").text(item2.name);
                local3.append(option);

                local3.attr("disabled", false);
            }
        } else {
            var option = $("<option />").text("전체");
            local3.children().remove();
            local3.append(option);
            local3.attr("disabled", true);
        }

        
    }

function findNode(v1, v2, v3) {
        if (v1) {
            var local1s = window.state.addresses;
            for (var i = 0; i < local1s.length; i++) {
                var local1 = local1s[i];

                if (local1.name == v1) {
                    if (v2) {
                        var local2s = local1.items;
                        for (var j = 0; j < local2s.length; j++) {
                            var local2 = local2s[j];

                            if (local2.name == v2) {
                                if (v3) {
                                    var local3s = local2.items;
                                    for (var k = 0; k < local3s.items; k++) {
                                        var local3 = local3s[k];

                                        if (local3 == v3) {
                                            return local3;
                                        }
                                    }
                                    return null;
                                }
                                return local2;
                            }
                        }
                        return null;
                    }
                    return local1;
                }
            }
        }
        return null;
    }


function initLocalSearch() {
    var items = $(".local-search .company-item-region select");
        var local1 = $(items[0]);
        local1.children().remove();
        local1.append($("<option />").text("로딩 중"))
        local1.attr("disabled", true);
        local1.change(function () {
            bindLocal2(".company-item-region");
            bindLocal3(".company-item-region");
        });

        var local2 = $(items[1]);
        local2.attr("disabled", true);
        local2.change(function () {
            bindLocal3(".company-item-region");
        });

        var local3 = $(items[2]);
        local3.attr("disabled", true);

        $.when(
             $.ajax({
                 url: "//1.234.80.248/json/address"
             })
        ).done(function (data) {
            data = data.results;
            var new_data = [];
            new_data.push(data[8]);
            new_data.push(data[1]);
            new_data.push(data[11]);
            new_data.push(data[7]);
            new_data.push(data[5]);
            new_data.push(data[6]);
            new_data.push(data[10]);
            new_data.push(data[9]);
            new_data.push(data[4]);
            new_data.push(data[0]);
            new_data.push(data[16]);
            new_data.push(data[15]);
            new_data.push(data[3]);
            new_data.push(data[2]);
            new_data.push(data[13]);
            new_data.push(data[12]);
            new_data.push(data[14]);
            window.state.addresses = new_data

            bindLocal1(".company-item-region");
            bindLocal2(".company-item-region");
            bindLocal3(".company-item-region");

            $(".item_submit").removeAttr("disabled");

        });
    $(".local-search .company-item-region button").click(function () {
            var selects = $(".local-search .company-item-region select");

            var local1 = $(selects[0]);
            var local2 = $(selects[1]);
            var local3 = $(selects[2]);

            var selected = !local3.is(":disabled") ? local3.find("option:selected") : local2.find("option:selected");
            var lat = selected.data("lat");
            var lng = selected.data("lng");
            var zoom = 20 - parseInt(selected.data("zoom"));

            location.href = "/search/map?lat=" + lat + "&lng=" + lng + "&zoom="+ zoom;
        });

}
$(document).ready(function () {
        initLocalSearch();
        $("#local-search .type-select .item-title").click(function () {
            $("#local-search .type-select").toggleClass("on");
        });
        $("#local-search h5").click(function () {
            var idx = $("#local-search h5").index($(this));

            $("#local-search .type-select").removeClass("on");
            $("#local-search .item-box").removeClass("on");
            $("#local-search h5").removeClass("on");
            $("#local-search .type-select .item-title").text($(this).text());
            $("#local-search .item-box").eq(idx).addClass("on");
            $(this).addClass("on");
        });

        });
</script>
{% endblock %}
