{% extends "base.html" %}
{% block content %}
<style>
.flash {
color: red;
}
</style>
<div class="container main-container nav-margin" style="background:white;border-bottom:1px solid #dddddd;margin-bottom:10px;padding:35px 170px 40px 170px;">
    <h1 style="padding-bottom:54px;">
        이메일 주소를 입력해주세요.
    </h1>
    <form action="{{ url_for('reset_password') }}" method=post>
        {{ findPasswordForm.hidden_tag() }}
        {% for message in findPasswordForm.email.errors %}
        <div class="flash">{{message}}</div>
        {% endfor %}
        {{ findPasswordForm.email(placeholder='이메일 입력') }}
        <input name="submit" style="background:#84bd5e;width:100px;" class="btn  btn-primary pull-right" value="입력" type="submit">
    </form>
</div>
<script>
$(document).ready(function() {
    $('body').css('background','white');
});
</script>
{% endblock %}
