<style>
#company-p {
    text-align: right;
    margin-top: 20px;
    color: #dddddd;
}
#company-p a {
    color: #aaaaaa;
}
</style>
<footer>
    <div class="footer" style="background:#ffffff;border-top:0px;border-bottom:0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                </div>
                <div class="col-lg-9  col-md-9 col-sm-8 col-xs-6">
                    <p id="company-p">
                    <a href="#">회사소개
                    </a>| 
                    <a href="#">이용약관
                    </a>| 
                    <a href="/privacy_policy">개인정보취급방침
                    </a>
                    <br>
                    역삼동 707-1 두꺼비빌딩 1301 (주)실버라이닝<br>
                    대표자 임하영, 서재덕 | 고객센터 02-6249-0818 | fax 02-6248-0415<br>
                    <br>
                    Copyright 2016 (주)실버라이닝, All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom" style="height:32px;background:#dbdbdb;border:0px;">
    </div>
</footer>
