{% extends "base.html" %}
{% block content %}
<div id="main-contents-container">
    {% include "main_banner.html" %}
    <div class="container main-container" id="feed_container">
        {% include "main_feed_items.html" %}
    </div>
</div>
<script type="text/javascript">
$(window).scroll(function() {
    if ($(window).scrollTop() == $(document).height() - $(window).height()) {
        $.ajax({
            async : true,
            type : "POST",
            url : "{{ url_for('main') }}",
            data : { offset: "{{ offset+10 }}" },
            success: function(result) {
                $("#main-contents-container").html(result);
            }
        });
    }
});
</script>
{% endblock %}
