{% extends "base.html" %}
{% block content %}
<div class="banner">
    <div class="full-container">
        <div class="slider-content">
            <ul id="pager2" class="container">
            </ul>
            <!-- prev/next links -->

            <span class="prevControl sliderControl"> <i class="fa fa-angle-left fa-3x "></i></span> <span
                class="nextControl sliderControl"> <i class="fa fa-angle-right fa-3x "></i></span>

            <div class="slider slider-v1"
                 data-cycle-swipe=true
                 data-cycle-prev=".prevControl"
                 data-cycle-next=".nextControl" data-cycle-loader="wait">
                <div class="slider-item slider-item-img1"><img src="{{ url_for('static',filename='images/wide_image1.jpg') }}"
                                                               class="img-responsive parallaximg sliderImg" alt="img">
                </div>
                <div class="slider-item slider-item-img1">
                    <img src="{{ url_for('static',filename='images/wide_image2.jpg') }}" class="img-responsive parallaximg sliderImg" alt="img">
                </div>
                <!--/.slider-item-->
            </div>
        </div>
    </div>
</div>
{% endblock %}
