<div class="card_container">
    <card_header>
        <div class="bio">
            <a href="/company_feed_detail/{{ feed.feed.id }}">
                <div class="bg" style="background:  url({{ '/static/'+feed.image_path }});
                        background-repeat:no-repeat;
                        background-size: cover;
                        background-position: center;
                        ">
                </div>
            </a>
                <div class="container" style="margin-top:20px;margin-left:20px;">
                    <div class="row" style="display: table-cell;">
                        <div calss="card_custom_body">
                            <a href="/company_feed_detail/{{ feed.feed.id }}">
                                <h4 class="feed-title">{{ feed.feed.title }}</h4>
                            </a>
                            <h5>
                            <a href="/company_portfolio/{{ feed.user.id }}">
                                {{ feed.user.username }}
                            </a>
                        </h5>
                    </div>
                    </div>
                </div>
        </div>
    </card_header>
    <card_footer>
    <div class="bio">
        <div class="container" style="display:table-cell;">
            <div class="feed_like_comment" style="margin-top:10px;margin-left:5px;margin-bottom:10px;">
                <span class="fa-stack " style="display:table-cell;padding-right:15px;">
                    <i class="fa  fa-circle-thin fa-stack-2x" style="color:#777777;top:0;" > </i>
                    <i class="fa   fa-thumbs-o-up fa-stack-1x" style="color:#777777;top:0;" > </i>
                </span>
                <h5 style="display:table-cell;padding-bottom:0px;padding-left:4px;padding-right:8px;vertical-align:middle;"> 0 좋아요</h5>
                <span class="fa-stack " style="display:table-cell;padding-right:15px;">
                    <i class="fa  fa-circle-thin fa-stack-2x" style="color:#777777;top:0;" > </i>
                    <i class="fa   fa-comment fa-stack-1x" style="color:#777777;top:0;" > </i>
                </span>

                <h5 style="display:table-cell;padding-bottom:0px;padding-left:4px;vertical-align:middle;">{{ feed.number_of_comment }} 댓글</h5>
            </div>
        </div>
    </div>
    </card_footer>
</div>
<br>
