<!-- Company Modal Signup Start-->
<style>
#company_si,
#company_gu,
#company_dong {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 80px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    padding-left: 10px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    background: #fff url( {{ url_for('static',filename='img/arrowdown.gif') }} ) no-repeat 90% 50%;
}

#company_si select,
#company_gu select,
#company_dong select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

#company_si:disabled,
#company_gu:disabled,
#company_dong:disabled {
    border: 1px solid #987654;
}

#company_si:focus,
#company_gu:focus,
#company_dong:focus {
    outline: none;
}
.select-style select:focus {
    outline: none;
}
</style>
<div class="modal signUpContent fade" id="ModalCompanySignup" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:780px;max-width:780px;">
        <div class="modal-content">
            <div class="modal-header" style="margin-bottom:0px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h3 class="modal-title-site text-center" style="font-size:22px;color:#333333;font-weight:bold;"> 기업회원 가입 </h3>
            </div>
            <div class="modal-body" style="height:400px;">
                <!-- User form start-->
                <form action="{{ url_for('company_signup') }}" method=post enctype="multipart/form-data">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    {{ companySignupForm.hidden_tag() }}
                <div class="form-group reg-username" style="margin-bottom:0px;">
                    <div>
                        {% for message in companySignupForm.username.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.username(placeholder="회사 이름") }}
                    </div>
                </div>
                <div class="form-group reg-email"style="margin-bottom:0px;">
                    <div>
                        {% for message in companySignupForm.email.errors %}
                            <div class="flash">{{  message }}</div>
                        {% endfor %}
                        {{ companySignupForm.email(placeholder="이메일") }}
                    </div>
                </div>
                <div class="form-group reg-password" style="margin-bottom:0px;">
                    <div>
                        {% for message in companySignupForm.password.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.password(placeholder="비밀번호") }}
                    </div>
                </div>
                <div class="form-group reg-password" style="margin-bottom:0px;">
                    <div>
                        {% for message in companySignupForm.password_check.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.password_check(placeholder="비밀번호 확인") }}
                    </div>
                </div>

                <div class="form-group " style="margin-bottom:5px;">
                    <div>
                        {% for message in companySignupForm.introduction.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.introduction(placeholder="회사 소개") }}
                    </div>
                </div>
                <div>
                    <div>
                        <a data-toggle="modal" data-dismiss="modal"  href="#ModalSignup" class="btn btn-block btn-lg btn-primary"  style="background-color:#ffffff;border: 1px solid #84bd5e;color:#84bd5e;margin-top:9px;">
                            < 개인회원으로 가입하기
                        </a>
                    </div>
                </div>

            </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="modal-item-region" style="display:table-cell;padding-bottom:10px;">
                        <select id="company_si" name="company_si">
                            <option>서울시</option>
                        </select>
                        <select id="company_gu" name="company_gu">
                            <option>전체</option>
                        </select>
                        <select id="company_dong" name="company_dong">
                            <option>전체</option>
                        </select>
                </div>
                <div class="form-group" style="margin-bottom:0px;">
                    <div>
                        {% for message in companySignupForm.address.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.address(placeholder="나머지 주소 ") }}
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:0px;">
                    <div>
                        {% for meesage in companySignupForm.tel.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.tel(placeholder="전화 번호(XX-XXXX-XXXX 형식)") }}
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:0px;">
                    <div>
                        {% for message in companySignupForm.website.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.website(placeholder="회사 웹사이트") }}
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:0px;height:52px;">
                    <div>
                        {% for message in companySignupForm.pros_category.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {% for category in companySignupForm.pros_category %}
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            {{ category }} {{ category.label }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group" style="margin-top:30px;">
                    전문가 찾기에 보일 회사 대표 이미지를 올려주세요(필수)
                    <div>
                    {% for message in companySignupForm.filename.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                    {{ companySignupForm.filename(id="uploadImageContainer") }}
                    </div>
                </div>

                <div>
                    <div>
                        <input name="submit" class="btn  btn-block btn-lg btn-primary" value="기업회원으로 가입하기" type="submit" style="background-color:#193271;" id="submit-button">
                    </div>
                </div>
                </form>
                <!--userForm-->
            </div>

            </div>
            <div class="modal-footer" style="background:#ffffff;">
                <p class="text-center" style="padding-top:5px;"> 이미 하우스마트 회원이세요 ? <a data-toggle="modal" data-dismiss="modal" href="#ModalLogin" style="color:#84bd5e;">
                    로그인 </a></p>
            </div>
        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->

</div>
<script type="text/javascript">
function tel_check(s) {
    var re = /^\+?([0-9][0-9][0-9]?)\)?[-]([0-9][0-9][0-9][0-9]?)[-]([0-9]{4})$/;
    var re1 = /^([0-9]{4})[-]([0-9]{4})$/;
    if ( s.match(re) || s.match(re1) ) {
        return true;
    } else {
        return false;
    }
}
$(document).ready(function() {
    $('#tel').change(function() {
        var tel = $(this).val();
        if ( tel_check(tel) ) {
            $(this).css('border','1px solid #ccc');
            $('#submit-button').prop('disabled',false);
        } else {
            $(this).val('');
            $(this).css('border','2px solid red');
            $('#submit-button').prop('disabled',true);
        }
    });
    $('#submit-button').click(function(e) {
        if ( $('#username').val() == '' ) {
            alert('회사이름을 기입하지 않으셨습니다.');
            e.preventDefault();
        }
        if ( $('#address').val() == '' ) {
            alert('나머지 주소를 입력해주세요 ');
            e.preventDefault();
        }
        if ( $('#tel').val() == '' ) {
            alert('전화번호를 입력해주세요 ');
            e.preventDefault();
        }
        if ( $('#website').val() == '' ) {
            alert('웹사이트를 입력해주세요 ');
            e.preventDefault();
        }
        if ( $('#uploadImageContainer').val() == '' ) {
            alert('대표 이미지를 설정해주세요 ');
            e.preventDefault();
        }
    });
    if ( $('#username').val() == '' || $('#email').val() == '' ||
        $('#password').val() == '' || $('#password_check').val() == '' ||
        $('#introduction').val() == '' || $('#company_si').val() == '' ) {
//            $('#submit-button').prop('disabled',true);
            } 
});
    window.state = {};
function modalBindLocal1(obj) {
        var map = window.state.map;
        var selects = $(obj + " select");
        var local1 = $(selects[0]);
        var local2 = $(selects[1]);
        var local3 = $(selects[2]);

        local1.attr("disabled", false);
        local2.attr("disabled", true);
        local3.attr("disabled", true);

        local1.children().remove();
        var items = window.state.addresses;       
        $(items).each(function (i, item) {
            local1.append($("<option />").text(item.name).val(item.name));
        });
        
    }

    function modalBindLocal2(obj) {
        var selects = $(obj + " select");
        var local1 = $(selects[0]);
        var local2 = $(selects[1]);
        var local3 = $(selects[2]);

        var v1 = local1.val();
        var node = findNode(v1);

        var option = $("<option />").text("전체");
        local2.children().remove();
        local2.append(option);

        if (node && node.items) {
            for (var j = 0; j < node.items.length; j++) {
                var item2 = node.items[j];
                var option = $("<option />").text(item2.name);
                local2.append(option);

                local2.attr("disabled", false);
            }
        } else {
            local2.attr("disabled", true);
        }
    }

    function modalBindLocal3(obj) {
        var selects = $(obj + " select");
        var local1 = $(selects[0]);
        var local2 = $(selects[1]);
        var local3 = $(selects[2]);

        var v1 = local1.val();
        var v2 = local2.val();
        var node = findNode(v1, v2);

        if (node) {
            var option = $("<option />").text("전체");
            local3.children().remove();
            local3.append(option);
        }

        if (node && node.items) {
            for (var j = 0; j < node.items.length; j++) {
                var item2 = node.items[j];
                var option = $("<option />").text(item2.name);
                local3.append(option);

                local3.attr("disabled", false);
            }
        } else {
            local3.attr("disabled", true);
        }

        
    }

function findNode(v1, v2, v3) {
        if (v1) {
            var local1s = window.state.addresses;
            for (var i = 0; i < local1s.length; i++) {
                var local1 = local1s[i];

                if (local1.name == v1) {
                    if (v2) {
                        var local2s = local1.items;
                        for (var j = 0; j < local2s.length; j++) {
                            var local2 = local2s[j];

                            if (local2.name == v2) {
                                if (v3) {
                                    var local3s = local2.items;
                                    for (var k = 0; k < local3s.items; k++) {
                                        var local3 = local3s[k];

                                        if (local3 == v3) {
                                            return local3;
                                        }
                                    }
                                    return null;
                                }
                                return local2;
                            }
                        }
                        return null;
                    }
                    return local1;
                }
            }
        }
        return null;
    }


function modal_initLocalSearch() {
    var items = $(".modal-item-region select");
        var local1 = $(items[0]);
        local1.children().remove();
        local1.append($("<option />").text("로딩 중"))
        local1.attr("disabled", true);
        local1.change(function () {
            modalBindLocal2(".modal-item-region");
            modalBindLocal3(".modal-item-region");
        });

        var local2 = $(items[1]);
        local2.attr("disabled", true);
        local2.change(function () {
            modalBindLocal3(".modal-item-region");
        });

        var local3 = $(items[2]);
        local3.attr("disabled", true);

        $.when(
             $.ajax({
                 url: "/json/address"
             })
        ).done(function (data) {
            data = data.results;
            var new_data = [];
            new_data.push(data[8]);
            new_data.push(data[1]);
            new_data.push(data[11]);
            new_data.push(data[7]);
            new_data.push(data[5]);
            new_data.push(data[6]);
            new_data.push(data[10]);
            new_data.push(data[9]);
            new_data.push(data[4]);
            new_data.push(data[0]);
            new_data.push(data[16]);
            new_data.push(data[15]);
            new_data.push(data[3]);
            new_data.push(data[2]);
            new_data.push(data[13]);
            new_data.push(data[12]);
            new_data.push(data[14]);
            window.state.addresses = new_data

            modalBindLocal1(".modal-item-region");
            modalBindLocal2(".modal-item-region");
            modalBindLocal3(".modal-item-region");

            $(".item_submit").removeAttr("disabled");

        });
    $(".modal-item-region button").click(function () {
            var selects = $(".modal-item-region select");

            var local1 = $(selects[0]);
            var local2 = $(selects[1]);
            var local3 = $(selects[2]);

            var selected = !local3.is(":disabled") ? local3.find("option:selected") : local2.find("option:selected");
            var lat = selected.data("lat");
            var lng = selected.data("lng");
            var zoom = 20 - parseInt(selected.data("zoom"));

            location.href = "/search/map?lat=" + lat + "&lng=" + lng + "&zoom="+ zoom;
        });

}
$(document).ready(function () {
        modal_initLocalSearch();
        $(".item-title").click(function () {
            $(".type-select").toggleClass("on");
        });
        $("h5").click(function () {
            var idx = $("h5").index($(this));

            $(".type-select").removeClass("on");
            $(".item-box").removeClass("on");
            $("h5").removeClass("on");
            $(".type-select .item-title").text($(this).text());
            $(".item-box").eq(idx).addClass("on");
            $(this).addClass("on");
        });

        });
</script>
<!-- /.CompanyModalSignup End -->
