<!-- Company Modal Signup Start-->
<div class="modal signUpContent fade" id="ModalCompanySignup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h3 class="modal-title-site text-center"> 기업으로 가입하기 </h3>
            </div>
            <div class="modal-body">
                <!-- User form start-->
                <form action="{{ url_for('company_signup') }}" method=post enctype="multipart/form-data">
                    {{ companySignupForm.hidden_tag() }}
                <div class="form-group reg-username">
                    <div>
                        {% for message in companySignupForm.username.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.username(placeholder="회사 이름") }}
                    </div>
                </div>
                <div class="form-group reg-email">
                    <div>
                        {% for message in companySignupForm.email.errors %}
                            <div class="flash">{{  message }}</div>
                        {% endfor %}
                        {{ companySignupForm.email(placeholder="이메일") }}
                    </div>
                </div>
                <div class="form-group reg-password">
                    <div>
                        {% for message in companySignupForm.password.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.password(placeholder="비밀번호") }}
                    </div>
                </div>
                <div class="form-group ">
                    <div>
                        {% for message in companySignupForm.introduction.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.introduction(placeholder="회사 소개") }}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        {% for message in companySignupForm.address.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.address(placeholder="회사 주소 ") }}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        {% for meesage in companySignupForm.tel.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.tel(placeholder="전화 번호") }}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        {% for message in companySignupForm.website.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.website(placeholder="회사 웹사이트") }}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        {% for message in companySignupForm.pros_category.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.pros_category }}
                    </div>
                </div>
                <div class="form-group">
                    회사 대표 이미지를 올려주세요
                    <div>
                    {% for message in companySignupForm.filename.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                    {{ companySignupForm.filename(id="uploadImageContainer") }}
                    </div>
                </div>

                <div>
                    <div>
                        <input name="submit" class="btn  btn-block btn-lg btn-primary" value="가입신청하기" type="submit">
                    </div>
                </div>
                </form>
                <!--userForm-->

            </div>
            <div class="modal-footer">
                <p class="text-center"> 이미 하우스마트 회원이세요 ? <a data-toggle="modal" data-dismiss="modal" href="#ModalLogin">
                    로그인 </a></p>
            </div>
        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->

</div>
<!-- /.CompanyModalSignup End -->