<!-- Modal Signup start -->
<div class="modal signUpContent fade" id="modal-delete-{{comment.comment.id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h3 class="modal-title-site text-center" style="font-size:22px;color:#333333;font-weight:bold;">삭제하기 </h3>
            </div>
            <div class="modal-body">
                정말 삭제하시겠습니까?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-primary">취소</button>
                <button class="btn btn-danger" id="delete-confirm-{{comment.comment.id}}">삭제</button>
            </div>
        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->

</div>
<!-- /.ModalSignup End -->
<script>
$('#delete-confirm-{{comment.comment.id}}').click(function() {
    var data = {
        "comment_id": "{{comment.comment.id}}"
    };
    $.ajax({
        url: '/delete_comment',
        data: data,
        type: 'POST',
        success: function(response) {
        console.log(response);
        window.location.href="{{url_for('company_feed_detail',feed_id=ret.feed.id)}}";
        },
        error: function(error) {
            console.log(error);
        }
    });
});
</script>
