<!-- Company Modal Signup Start-->
<div class="modal signUpContent fade" id="ModalCompanySignup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h3 class="modal-title-site text-center"> Company REGISTER </h3>
            </div>
            <div class="modal-body">
                <!-- User form start-->
                <form action="{{ url_for('company_signup') }}" method=post enctype="multipart/form-data">
                    {{ companySignupForm.hidden_tag() }}
                <div class="form-group reg-username">
                    <div>
                        {% for message in companySignupForm.username.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.username(placeholder="Enter your company name") }}
                    </div>
                </div>
                <div class="form-group reg-email">
                    <div>
                        {% for message in companySignupForm.email.errors %}
                            <div class="flash">{{  message }}</div>
                        {% endfor %}
                        {{ companySignupForm.email(placeholder="Enter your company Email") }}
                    </div>
                </div>
                <div class="form-group reg-password">
                    <div>
                        {% for message in companySignupForm.password.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.password(placeholder="Enter your password") }}
                    </div>
                </div>
                <div class="form-group ">
                    <div>
                        {% for message in companySignupForm.introduction.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.introduction(placeholder="Enter your company introduction") }}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        {% for message in companySignupForm.address.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.address(placeholder="Enter your company address") }}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        {% for meesage in companySignupForm.tel.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.tel(placeholder="Enter your company telephon number") }}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        {% for message in companySignupForm.website.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.website(placeholder="Enter your company website address") }}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        {% for message in companySignupForm.pros_category.errors %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {{ companySignupForm.pros_category }}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                    {% for message in companySignupForm.filename.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                    {{ companySignupForm.filename(id="uploadImageContainer") }}
                    </div>
                </div>

                <div>
                    <div>
                        <input name="submit" class="btn  btn-block btn-lg btn-primary" value="REGISTER" type="submit">
                    </div>
                </div>
                </form>
                <!--userForm-->

            </div>
            <div class="modal-footer">
                <p class="text-center"> Already member? <a data-toggle="modal" data-dismiss="modal" href="#ModalLogin">
                    Sign in </a></p>
            </div>
        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->

</div>
<!-- /.CompanyModalSignup End -->