    <style type="text/css">
.mobile-feed-container {
    width: 100%;
}
.mobile-card-body-item {
    padding-left: 10px;
    padding-right:10px;
    background:#ffffff;
}
mobile-card-header {
    display: block;
    overflow: hidden;
    position: relative;
    border: 1px solid #dddddd;
    border-left: 0px;
    border-right:0px;
}
    </style>
<div class=" main-container nav-margin visible-xs" style="overflow-x: hidden;">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12">
            <div class="panel panel-default" style="border-left:0px;border-right:0px;border-bottom:0px;">
                <div class="w100 productFilter clearfix" style="border-top:0;margin-bottom:0px;">
                    <p class="pull-left" style="font-size:20px;margin-left:10px;"> {{ feed_category_name }}  <strong>{{ feed_count }}</strong> 사진 </p>
                    <button id="filter-button" class="btn btn-primary" style="width:95%;margin:5px 10px 10px 10px;">필터</button>
                    <script>
                    $('#filter-button').click(function() {
                        var $filter_wrapper = $('#mobile-collapseCategory');
                        if ($filter_wrapper.is(':visible')) {
                            $filter_wrapper.hide();
                        } else {
                            $filter_wrapper.show();
                        }
                    });
                    </script>
                </div>
                <div id="mobile-collapseCategory" class="panel-collapse collapse in" style="display:none;">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked tree">
                            <li class="active dropdown-tree open-tree"><a class="dropdown-tree-a">  공간 </a>
                                <ul class="category-level-2 dropdown-menu-tree">
                                    <li class="dropdown-tree"><a class="dropdown-tree-a" href="/photos/1">
                                        거실</a></li>
                                    <li><a href="/photos/2"> 주방</a></li>
                                    <li><a href="/photos/3"> 침실</a></li>
                                    <li><a href="/photos/4"> 서재</a></li>
                                    <li><a href="/photos/5"> 유아/주니어방</a></li>
                                    <li><a href="/photos/6"> 욕실</a></li>
                                    <li><a href="/photos/7"> 현관</a></li>
                                    <li><a href="/photos/8"> 기타</a></li>
                                    <li><a href="/photos/9"> 상업공간</a></li>
                                    <li><a href="/photos/10"> 사무공간</a></li>
                                </ul>
                            </li>
                            <li class="active dropdown-tree "><a class="dropdown-tree-a"> 타입 </a>
                                <ul class="category-level-2 dropdown-menu-tree">
                                    <li><a href="#"> 원룸</a></li>
                                    <li><a href="#"> 투베이</a></li>
                                    <li><a href="#"> 오피스텔</a></li>
                                    <li><a href="#"> 아파트</a></li>
                                    <li><a href="#"> 빌라연립</a></li>
                                    <li><a href="#"> 단독주택</a></li>
                                    <li><a href="#"> 사무공간</a></li>
                                    <li><a href="#"> 상업공간</a></li>
                                    <li><a href="#"> 기타</a></li>
                                </ul>
                            </li>
                            <li class="active dropdown-tree "><a class="dropdown-tree-a"> 스타일 </a>
                                <ul class="category-level-2 dropdown-menu-tree">
                                    <li><a href="#"> 모던 </a></li>
                                    <li><a href="#"> 북유럽</a></li>
                                    <li><a href="#"> 빈티지</a></li>
                                    <li><a href="#"> 내츄럴</a></li>
                                    <li><a href="#"> 프로방스</a></li>
                                    <li><a href="#"> 클래식+앤틱</a></li>
                                    <li><a href="#"> 오리엔탈</a></li>
                                    <li><a href="#"> 유니크</a></li>
                                    <li><a href="#"> 기타</a></li>
                                </ul>
                            </li>
                            <li class="active dropdown-tree "><a class="dropdown-tree-a"> 면적 </a>
                                <ul class="category-level-2 dropdown-menu-tree">
                                    <li><a href="#"> 10평대 미만</a></li>
                                    <li><a href="#"> 10평대</a></li>
                                    <li><a href="#"> 20평대</a></li>
                                    <li><a href="#"> 30평대</a></li>
                                    <li><a href="#"> 40평대</a></li>
                                    <li><a href="#"> 50평대 이상</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
            {% for feed in feeds %}
                <div class="mobile-pros-container" style="margin-bottom:10px;"> 
                    <mobile-card-header>
                        <script type="text/javascript">
var previous_url = '?previous_url='+window.location.href;
openFeed = function(feed_id) {
location.href="/company_feed_detail/"+feed_id+previous_url;
}
                        </script>
                    <a href="javascript:openFeed({{ feed.feed.id }});">
                        <div class="bg" id="" style="background: url({{ '/static/'+feed.image_path }});
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            ">
                        </div>
                    </a>
                    <div  class="mobile-card-body-item" style="">
                        <a href="javascript:openFeed({{ feed.feed.id }});">
                            <h4 style="padding: 3px 0px 2px 10px;">{{ feed.feed.title }}</h4>
                        </a>
                        <div style="display:table-cell;vertical-align:middle;padding-left:10px;">
                            <strong>
                            <a href="/company_portfolio/{{ feed.user.id }}"><h5 style="vertical-align:middle; padding-bottom:3px;font-weight:700;">{{ feed.user.username }}</h5></a>
                            </strong>
                        </div>
                    </div>
                    <div class="mobile-card-body-item" style="border-top:1px solid #dddddd;padding-top:5px;padding-bottom:5px;">
                        <span class="fa-stack " style="display:table-cell;padding-right:15px;" >
                            <i class="fa  fa-circle-thin fa-stack-2x" style="{% if feed.is_user_like %}color:#3B5998;font-weight:600;{% else %}color:#777777;font-weight:400;{% endif %}top:0;" id="like-button-icon-circle-{{ feed.feed.id }}"> </i>
                            <i class="fa   fa-thumbs-o-up fa-stack-1x" style="{% if feed.is_user_like %}color:#3B5998;font-weight:600;{% else %}color:#777777;font-weight:400;{% endif %}top:0;" id="like-button-icon-thumb-{{ feed.feed.id }}"> </i>
                        </span>
                        <h5 style="display:table-cell;padding-bottom:0px;padding-left:4px;padding-right:8px;vertical-align:middle;" ><a onclick="likefeed({{ feed.feed.id }});" style="{% if feed.is_user_like %}color:#3B5998;font-weight:600;{% else %}color:#777777;font-weight:400;{% endif %}" id="like-button-{{ feed.feed.id }}"> {{ feed.number_of_like }} 좋아요</a></h5>
                        <span class="fa-stack " style="display:table-cell;padding-right:15px;">
                            <i class="fa  fa-circle-thin fa-stack-2x" style="color:#777777;top:0;
                                " > </i>
                            <i class="fa   fa-comment fa-stack-1x" style="color:#777777;top:0;" >
                            </i>
                        </span>
                        <h5 style="vertical-align:middle;display:table-cell;padding-bottom:0px;padding-left:4px;">{{ feed.number_of_comment }} 댓글</h5>
                    </div>
                    </mobile-card-header>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">
$(window).scroll(function() {
    if ($(window).scrollTop() == $(document).height() - $(window).height()) {
        $.ajax({
            async : true,
            type : "feed",
        {% if feed_category_id == 0 %}
            url : "{{ url_for('photos') }}",
        {% endif %}
            data : { offset: "{{ offset+10 }}" },
            success: function(result) {
                $("#main-contents-container").html(result);
            }
        });
    }
});
</script>
<script type="text/javascript">
function likefeed(feed_id) {
    var data = {
    "user_id": {{ session['user_id'] }},
    "feed_id": feed_id
    };
    $.ajax({
        url: '/like_post',
        data: data,
        type: 'POST',
        success: function(response) {
            var jsonData = JSON.parse(response);
            if ( jsonData["is_liked"] ) {
                $('#like-button-'+feed_id).css('color','#777777');
                $('#like-button-'+feed_id).css('font-weight','400');
                $('#like-button-'+feed_id).text(jsonData['number_of_like']+' 좋아요');
                $('#like-button-icon-circle-'+feed_id).css('color','#777777');
                $('#like-button-icon-thumb-'+feed_id).css('color','#777777');
            } else {
                $('#like-button-'+feed_id).css('color','#3B5998');
                $('#like-button-'+feed_id).css('font-weight','600');
                $('#like-button-'+feed_id).text(jsonData['number_of_like']+' 좋아요');
                $('#like-button-icon-circle-'+feed_id).css('color','#3B5998');
                $('#like-button-icon-thumb-'+feed_id).css('color','#3B5998');
            }
        },
        error: function(error) {
            console.log(error);
        }
    });
}
</script>
