{% extends "base.html" %}
{% block content %}
    <style type="text/css">

    #all_photos_container {
        background-color: #FFFFFF;
    }
    #photos_container {
        background-color:inherit;
        width: 100%;
        float: left;
        margin:0;
        height: 300px;
        border-bottom: 1px solid #DDDDDD;
    }
    hr.photos {
        /*
        width: 98%;
        */
         border: thin solid #dddddd;
    }
    .photos-contents-list-container {
        background-color: #FFFFFF;
        margin-left: -20px;
        border: 1px solid #DDDDDD;
        margin-bottom: 10px;
    }
    .photos-contents-list-container-items {
        margin: 10px 10px 10px 10px;
    }
    .photos-contents-list-container-item {
        margin: 5px 5px 5px 5px;
    }
card_header {
  display: block;
  overflow: hidden;
  position: relative;

  }

.card_container {
    outline: 0; 
    width: 100%;
    position: relative;
    float: left;
    margin: 1px 1px 1px 1px;

  background-color: #ffffff;
    border: 1px solid #dddddd;

  }

.card_custom_body {
    padding-top: 15px;
    padding-left:25px;
    padding-right:25px;
    height: 70px;
}

.bg {
  border-bottom: 0px solid #5cc0ff;
  max-width: 100%;
  height:200px;
} 

    </style>
<div class="container main-container ">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb" style="margin-bottom:10px;background-color:#FFFFFF;margin-top:10px;">
                <li><a href="/photos">갤러리</a></li>
                {% if not feed_category_id %}
                <li><a href="/photos/">{{ feed_category_name }}</a></li>
                {% endif %}
                {% if feed_category_id %}
                <li><a href="/photos/{{ feed_category_id }}">{{ feed_category_name }}</a></li>
                {% endif %} 
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12">
            <div class="panel panel-default">
                <div id="collapseCategory" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked tree">
                            <li class="active dropdown-tree open-tree"><a class="dropdown-tree-a">  주거공간</a>
                                <ul class="category-level-2 dropdown-menu-tree">
                                    <li class="dropdown-tree"><a class="dropdown-tree-a" href="/photos/1">
                                        주방</a></li>
                                    <li><a href="/photos/2"> 화장실</a></li>
                                    <li><a href="/photos/3"> 방</a></li>
                                    <li><a href="/photos/4"> 거실</a></li>
                                    <li><a href="/photos/5"> 현관</a></li>
                                    <li><a href="/photos/6"> 기타</a></li>
                                </ul>
                            </li>
                            <li class="active dropdown-tree open-tree"><a class="dropdown-tree-a">  상업공간</a>
                                <ul class="category-level-2 dropdown-menu-tree">
                                    <li class="dropdown-tree"><a href="/photos/7">카페</a></li>
                                    <li><a href="/photos/8">식당</a></li>
                                    <li><a href="/photos/9">사무실</a></li>
                                    <li><a href="/photos/10">기타</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
            <div class="photos-contents-list-container">
                <div class="photos-contents-list-container-items">
                    <div class="w100 productFilter clearfix" style="border-top:0;margin-bottom:0px;">
                        <p class="pull-left" style="font-size:20px;margin-left:10px;"> {{ feed_category_name }}  <strong>{{ feed_count }}</strong> 사진 </p>

                        <div class="pull-right ">
                            {% if feed_category_id %}
                            <div class="change-view pull-right">
                                <a href="/photos/{{ feed_category_id }}/grid" title="Grid" class=""> <i class="fa fa-th"></i> </a> 
                                <a href="/photos/{{ feed_category_id }}" title="List" class=""><i class="fa fa-th-list"></i></a>
                            </div>
                            {% endif %}
                            {% if not feed_category_id %}
                            <div class="change-view pull-right">
                                <a href="/photos/grid" title="Grid" class=""> <i class="fa fa-th"></i> </a> 
                                <a href="/photos" title="List" class=""><i class="fa fa-th-list"></i></a>
                            </div>
                            {% endif %}

                        </div>
                    </div>

                    <div class="xsResponse clearfix">
                        <div id="all_photos_container" style="padding-top:10px;">
                            {% for feed in feeds %}
                            <div class="col-lg-4 col-md-4 col-sm-12" style="padding:1px 1px 1px 1px;">
                                <div class="card_container"> 
                                    <div class="card_header">
                                        <script type="text/javascript">
var previous_url = '?previous_url='+window.location.href;
openFeed = function(feed_id) {
    location.href="/company_feed_detail/"+feed_id+previous_url;
}
                                        </script>
                                        <a href="javascript:openFeed({{ feed.feed.id }});">
                                        <div class="bg" id="photos_background_image" style="background: url({{ '/static/'+feed.image_path }});
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center;
                                            ">
                                        </div>
                                    </a>
                                    <div id="photos_body">
                                        <a href="javascript:openFeed({{ feed.feed.id }});">
                                            <h4 style="padding: 3px 0px 2px 10px;">{{ feed.feed.title }}</h4>
                                        </a>
                                        <div style="display:table-cell;vertical-align:middle;padding-left:10px;">
                                            <strong>
                                            <a href="/company_portfolio/{{ feed.user.id }}"><h5 style="vertical-align:middle; padding-bottom:3px;font-weight:700;">{{ feed.user.username }}</h5></a>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">
$(window).scroll(function() {
    if ($(window).scrollTop() == $(document).height() - $(window).height()) {
        $.ajax({
            async : true,
            type : "POST",
        {% if feed_category_id == 0 %}
            url : "{{ url_for('photos') }}",
        {% endif %}
            data : { offset: "{{ offset+10 }}" },
            success: function(result) {
                $("#main-contents-container").html(result);
            }
        });
    }
});
</script>
<script type="text/javascript">
function likePost(feed_id) {
    var data = {
    "user_id": {{ session['user_id'] }},
    "feed_id": feed_id
    };
    $.ajax({
        url: '/like_post',
        data: data,
        type: 'POST',
        success: function(response) {
            var jsonData = JSON.parse(response);
            if ( jsonData["is_liked"] ) {
                $('#like-button-'+feed_id).css('color','#777777');
                $('#like-button-'+feed_id).css('font-weight','400');
                $('#like-button-'+feed_id).text(jsonData['number_of_like']+' 좋아요');
                $('#like-button-icon-circle-'+feed_id).css('color','#777777');
                $('#like-button-icon-thumb-'+feed_id).css('color','#777777');
            } else {
                $('#like-button-'+feed_id).css('color','#3B5998');
                $('#like-button-'+feed_id).css('font-weight','600');
                $('#like-button-'+feed_id).text(jsonData['number_of_like']+' 좋아요');
                $('#like-button-icon-circle-'+feed_id).css('color','#3B5998');
                $('#like-button-icon-thumb-'+feed_id).css('color','#3B5998');
            }
        },
        error: function(error) {
            console.log(error);
        }
    });
}
</script>
{% endblock %}
