{% extends "base.html" %}
{% block content %}
    <style type="text/css">

.custom-tag-button {
    border: 1px solid #dddddd;
    border-radius: 1px;
    background: white;
    color: #aaaaaa;
    padding:3px 7px 3px 7px;
}
    #all_photos_container {
        background-color: #FFFFFF;
    }
    #photos_container {
        background-color:inherit;
        width: 100%;
        float: left;
        margin:0;
        border-bottom: 1px solid #DDDDDD;
        padding-top:20px;
        padding-bottom:20px;
    }
    #photos_background_image {
        position: absolute;
        width: 440px;
        height: 290px;
        margin: 0px 5px 0px 5px;
    }
    #photos_body {
        position: relative;
        margin: 0px 0px 0px 450px;
        height: 290px;
    }
    hr.photos {
        /*
        width: 98%;
        */
         border: thin solid #dddddd;
    }
    .photos-contents-list-container {
        background-color: #FFFFFF;
        /*
        margin-left: -20px;
        */
        border: 1px solid #DDDDDD;
        margin-bottom: 10px;
    }
    .photos-contents-list-container-items {
        /*
        margin: 10px 10px 10px 10px;
        */
    }
    .photos-contents-list-container-item {
        /*
        margin: 5px 5px 5px 5px;
        */
    }
card_header {
  display: block;
  overflow: hidden;
  position: relative;

  }

.card_container {
    outline: 0; 
    width: 100%;
    position: relative;
    float: left;
    margin: 1px 1px 1px 1px;

  background-color: #ffffff;
    border: 1px solid #dddddd;

  }

.card_custom_body {
    padding-top: 15px;
    padding-left:25px;
    padding-right:25px;
    height: 70px;
}

.bg {
  border-bottom: 0px solid #5cc0ff;
  max-width: 100%;
  height:200px;
}

    </style>
    {% include "photos_mobile.html" %}
<div class="container main-container nav-margin hidden-xs">
        <!-- #a5ac4c -->
    <style>
    .nav-stacked li {
        border-bottom:0px;
    }
    .panel-heading,
    .panel-body{
        padding-left:16px;
        padding-top: 16px;
        padding-bottom:16px;
    }
    .panel-title {
        font-size: 14px;
        font-weight: bold;
    }
    .panel-default > .panel-heading {
        background:#ffffff;
        border-top:0px;
        border-bottom:0px;
    }
    .nav-stacked > li a {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    </style>
    <script type="text/javascript">
function addParameterToURL(param){
    _url = location.href;
    if ( _url.split('?')[1] ) {
        var prevParams = _url.split('?')[1].split('&');
        if ( !prevParams ) prevParams = [_url.split('?')[1]];
        _url = _url.split('?')[0];
        var first = true;
        var key = param.split('=')[0];
        var change = false;
        for ( var prevParam in prevParams ) {
            prevParam = prevParams[prevParam];
            curKey = prevParam.split('=')[0];
            if ( curKey == key ) {
                _url += ((first?'?':'&')+param);
                change = true;
            } else {
                _url += ((first?'?':'&')+prevParam);
            }
            first = false;
        }
        if ( !change ) _url += '&'+param;
    } else {
        _url += '?'+param;
    }
    return _url;
}
function delParameterToURL(param) {
    _url = location.href;
    if ( _url.split('?')[1] ) {
        var prevParams = _url.split('?')[1].split('&');
        if ( !prevParams ) prevParams = [_url.split('?')[1]];
        _url = _url.split('?')[0];
        var first = true;
        var key = param.split('=')[0];
        var change = false;
        for ( var prevParam in prevParams ) {
            prevParam = prevParams[prevParam];
            curKey = prevParam.split('=')[0];
            if ( curKey == key ) {
            } else {
                _url += ((first?'?':'&')+prevParam);
            first = false;
            }
        }
    }
    return _url;
}
function redirect(url) {
    window.location.href=url;
}
    </script>

    <div class="row" style="padding-top:19px;">
        <div class="col-lg-3 col-md-3 col-sm-12" style="padding-right:0px;width:20%;">
            {% include "photos_category.html" %}
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12" style="width:80%;">
            <div class="photos-contents-list-container" style="padding-left:20px;padding-right:20px;">
                <div class="photos-contents-list-container-items">
                    <ul class="breadcrumb" style="border:0px;margin:0px;padding:0px;padding-top:16px;padding-bottom:16px;">
                        <li><a href="/photos" style="color:#84bd5e;">갤러리</a></li>
                        {% if feed_category_id %}
                        <li><a href="/photos/{{ feed_category_id }}" style="color:#84bd5e;">{{ feed_category_name }}</a></li>
                        {% endif %}
                        {% if not feed_category_id %}
                        <li><a href="/photos/" style="color:#84bd5e;">{{ feed_category_name }}</a></li>
                        {% endif %}

                        {% if style_category_id %}
                        <li><a class="custom-tag-button" onclick="redirect(delParameterToURL('style_category_id'));">{{ style_category_name }} <i class="fa fa-times" aria-hidden="true"></i></a></li>
                        {% endif %}
                        {% if type_category_id %}
                        <li><a class="custom-tag-button" onclick="redirect(delParameterToURL('type_category_id'));">{{ type_category_name }} <i class="fa fa-times" aria-hidden="true"></i></a></li>
                        {% endif %}
                        {% if area_id %}
                        <li><a class="custom-tag-button"  onclick="redirect(delParameterToURL('area_id'));">{{ area_name }} <i class="fa fa-times" aria-hidden="true"></i></a></li>
                        {% endif %}

                        <span class="pull-right" style="margin-top:-6px;">
                            <div class="change-view " style="height:34px;">
                                <a style="margin-left:0px;" onclick="redirect(addParameterToURL('is_grid=True'));" title="Grid" class=""> <i class="fa fa-th"></i> </a> 
                                <a style="margin-left:0px;" onclick="redirect(delParameterToURL('is_grid'));" title="List" class=""><i class="fa fa-th-list"></i></a>
                            </div>
                        </span>

                    </ul>
                    <hr style="margin:0px;padding:0px;">
                    <!--
                    <div >
                                                <div class="pull-right" style="padding:10px;">
                            1-12페이지 총 {{ feed_category_name }}  {{ feed_count }}장 사진
                            <button class="btn " style="background:#ffffff;border:1px solid #dddddd;width:35px;"><i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                    -->
                    <hr style="margin:0px;padding:0px;margin-top:55px;">


                    {% include "modal_save_feed.html" %}
                    <div class="xsResponse clearfix">
                        <div id="all_photos_container" style="padding-top:10px;" class="visible-xs">
                            {% if (feeds|length) == 0 %}
                            <div class="col-lg-4 col-md-4 col-sm-12" style="padding:1px 1px 1px 1px;">
                                없어요
                            </div>
                            {% endif %}
                            {% for feed in feeds %}
                            {% if feed.feed.status_id == 1 %}
                            <div class="col-lg-4 col-md-4 col-sm-12" style="padding:1px 1px 1px 1px;">
                                <div class="card_container"> 
                                    <div class="card_header">
                                        <script type="text/javascript">
var previous_url = '?previous_url='+window.location.href;
openFeed = function(feed_id) {
    location.href="/company_feed_detail/"+feed_id+previous_url;
}
                                        </script>
                                        <a href="javascript:openFeed({{ feed.feed.id }});">
                                        <div class="bg" id="" style="background: url({{ ('/static/'+feed.image_path)|resize('600x300') }});
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center;
                                            ">
                                        </div>
                                    </a>
                                    <div id="">
                                        <a href="javascript:openFeed({{ feed.feed.id }});">
                                            <h4 style="padding: 3px 0px 2px 10px;">{{ feed.feed.title }}</h4>
                                        </a>
                                        <div style="display:table-cell;vertical-align:middle;padding-left:10px;">
                                            <strong>
                                            <a href="/company_portfolio/{{ feed.user.id }}"><h5 style="vertical-align:middle; padding-bottom:3px;font-weight:700;">{{ feed.user.username }}</h5></a>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div id="all_photos_container" class="hidden-xs">
                            {% if (feeds|length) == 0 %}
                                <div id="photos_container" style="border-bottom:0px;">
                                    <center>
                                        <strong>
                                        사진이 하나도 존재하지 않아요
                                    </strong>
                                    </center>
                                </div>
                            {% endif %}
                            {% for feed in feeds %}
                            {% if feed.feed.status_id == 1 %}
                            {% if feed != feeds[-1] %}
                            <div id="photos_container">
                                {% else %}
                            <div id="photos_container" style="border-bottom:0px;">
                                {% endif %}
                                <div class="photos-contents-list-container-item" >
                                    <script type="text/javascript">
var previous_url = '?previous_url='+window.location.href;
openFeed = function(feed_id) {
    location.href="/company_feed_detail/"+feed_id+previous_url;
}
                                    </script>
                                    <a href="javascript:openFeed({{ feed.feed.id }});">
                                        <div  style="background: url({{ ('/static/'+feed.image_path)|resize('500x400') }});
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center;
                                            position:absolute;width: 440px; height:290px; 
                                            cursor:pointer;
                                            " id="image-{{feed.feed.id}}">
                                            <div style="position:absolute;left:50%;margin-left:-70px;bottom:10px;display:none;" id="button-container-{{feed.feed.id}}">
                                            <!--
                                            <div style="position: absolute;left:34%;bottom:10px;display:none;" id="button-container-{{feed.feed.id}}">
                                            -->
                                                <a href="#">
                                                    <button class="btn " id="save-button-{{feed.feed.id}}" style="background: black;color:white;"><i class="fa fa-plus"></i> 저장</button>
                                                </a>
                                                <a href="#">
                                                    <share-button id="share-button-{{feed.feed.id}}"style="height:33px;"></share-button>
                                                </a>
                                            </div>
<script>
$('#image-{{feed.feed.id}}').hover(function() {
    var image_filename = '{{ feed.image_path }}';
    $('#button-container-{{feed.feed.id}}').fadeIn('fast');
    $('#share-button-{{feed.feed.id}}').show();
    }, function() {
    $('#button-container-{{feed.feed.id}}').fadeOut('fast');
});
$('#image-{{feed.feed.id}}').click(function() {
    openFeed({{feed.feed.id}});
        });
new ShareButton('#share-button-{{feed.feed.id}}',{
    url: 'http://www.hausmart.co.kr/company_feed_detail/{{feed.feed.id}}',
    ui: {
        button_font: false,
        buttonText: '<i class="fa fa-share-alt"></i> 공유',
        icon_font: 'false'
    },
    networks: {
        facebook: {
            appId: "231482033876622"
        },
        pinterest: {
            enabled: false
        },
        reddit: {
            enabled: false
        },
        linkedin: {
            enabled: false
        },
        whatsapp:{
            enabled: false
        },
        email: {
            enabled: false
        }
    }
});

$('share-button').bind('click',function(e) {
        e.preventDefault();
        e.stopPropagation();
        });
$('#save-button-{{feed.feed.id}}').bind('click',function(e) {
        // Prevents the default action to be triggered. 
    e.preventDefault();
    console.log('{{feed.feed.id}}');

    // Triggering bPopup when click event is fired
    $('#popup').bPopup({
        contentContainer:'.content',
    });
    $('#image-preview').attr('src',"{{ url_for('static',filename=feed.image_path) }}");
    $('#save-button').click(function() {
        var data = {
            "feed_id": "{{ feed.feed.id }}",
            "comment": $('#comment-box').val(),
            "user_id": "{{ session['user_id'] }}"
        };
        $.ajax({
            url: '/save_feed',
            data: data,
            type: 'POST',
            success: function(response) {
                var jsonData = JSON.parse(response);
                console.log(jsonData);
            },
            error: function(error) {
                console.log(error);
            }
        });
        $('#popup').bPopup().close();
    });
     e.stopPropagation();
});
$(document).ready(function() {
    $('#nav-dropdown-toggle-1').css('color','#84bd5e');
    $('#nav-dropdown-toggle-1').hover(function() {
    });
});
</script>

                                        </div>
                                    </a>
                                    <div id="photos_body">
                                                <span class="pull-right" style="color:#ababab;">
                                                    {{ feed.feed.created_at.strftime('%Y-%m-%d') }}
                                                </span>
                                        {% if feed.user_profile_image_path %}
                                        <div style="background: url({{ url_for('static',filename=feed.user_profile_image_path)|resize('60x60') }}); border:1px solid #dddddd;height:50px;width:50px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 25px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;">
                                        </div>
                                        {% else %}
                                        <div style="background-color:#dddddd; border:1px solid #dddddd;height:50px;width:50px;display:table-cell;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius: 25px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;">
                                        </div>
                                        {% endif %}
                                        <div style="display:table-cell;vertical-align:top;padding-left:10px;padding-top:4px;">
                                        <a href="/company_portfolio/{{ feed.user.id }}">
                                            <h5 style="vertical-align:top; padding-bottom:0px;font-size:14px;line-height:20px;">
                                                <strong>
                                                    {{ feed.user.username }}
                                                </strong>
                                            </h5>
                                        </a>
                                            <span class="fa-stack " style="width:1.6em;height:1.6em;display:table-cell;padding-right:15px;" >
                                                <i class="fa  fa-circle-thin fa-stack-2x" style="font-size:1.6em;{% if feed.is_user_like %}color:#eb7b7b;font-weight:600;{% else %}color:#777777;font-weight:400;{% endif %}top:0;" id="like-button-icon-circle-{{ feed.feed.id }}"> </i>
                                                <i class="fa   fa-heart-o fa-stack-1x" style="margin-top:-3px;font-size:0.8em;{% if feed.is_user_like %}color:#eb7b7b;font-weight:600;{% else %}color:#777777;font-weight:400;{% endif %}top:0;" id="like-button-icon-thumb-{{ feed.feed.id }}"> </i>
                                            </span>
                                            <h5 style="font-size:12px;display:table-cell;padding-bottom:0px;padding-left:4px;padding-right:8px;vertical-align:middle;" ><a onclick="likefeed({{ feed.feed.id }});" style="{% if feed.is_user_like %}color:#eb7b7b;font-weight:600;{% else %}color:#777777;font-weight:400;{% endif %}" id="like-button-{{ feed.feed.id }}">좋아요 {{ feed.number_of_like }} </a></h5>
                                            <span class="fa-stack " style="width:1.6em;height:1.6em;display:table-cell;padding-right:15px;">
                                                <i class="fa  fa-circle-thin fa-stack-2x" style="font-size:1.6em;color:#777777;top:0;" > </i>
                                                <i class="fa   fa-comment fa-stack-1x" style="margin-top:-3px;font-size:0.8em;color:#777777;top:0;" > </i>
                                            </span>
                                            <h5 style="font-size:12px;vertical-align:middle;display:table-cell;padding-bottom:0px;padding-left:4px;">댓글 {{ feed.number_of_comment }}</h5>

                                    </div>
                                    <br>
                                    <a href="javascript:openFeed({{ feed.feed.id }});">
                                        <h4 style="color:#000000;">
                                            <strong>{{ feed.feed.title }}</strong>
                                        </h4>
                                    </a>
                                    <h5 style="font-size:13px;">{{ feed.feed.body }}</h5>
                                    <h5 style="font-size:13px;">
                                        {% for tag in feed.project_hash_tags %}
                                        #<a href="/search?q={{tag.hash_tag_name}}" style="color:#84bd5e;">{{ tag.hash_tag_name }}</a> 
                                        {% endfor %}
                                    </h5>
                                </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">
$(window).scroll(function() {
    if ($(window).scrollTop() == $(document).height() - $(window).height()) {
        $.ajax({
            async : true,
            type : "feed",
        {% if feed_category_id == 0 %}
            url : "{{ url_for('photos') }}",
        {% endif %}
            data : { offset: "{{ offset+10 }}" },
            success: function(result) {
                $("#main-contents-container").html(result);
            }
        });
    }
});
</script>
<script type="text/javascript">
function likefeed(feed_id) {
    var data = {
    "user_id": {{ session['user_id'] }},
    "feed_id": feed_id
    };
    $.ajax({
        url: '/like_post',
        data: data,
        type: 'POST',
        success: function(response) {
            var jsonData = JSON.parse(response);
            if ( jsonData["is_liked"] ) {
                $('#like-button-'+feed_id).css('color','#777777');
                $('#like-button-'+feed_id).css('font-weight','400');
                $('#like-button-'+feed_id).text('좋아요 '+jsonData['number_of_like']);
                $('#like-button-icon-circle-'+feed_id).css('color','#777777');
                $('#like-button-icon-thumb-'+feed_id).css('color','#777777');
            } else {
                $('#like-button-'+feed_id).css('color','#eb7b7b');
                $('#like-button-'+feed_id).css('font-weight','600');
                $('#like-button-'+feed_id).text('좋아요 '+jsonData['number_of_like']);
                $('#like-button-icon-circle-'+feed_id).css('color','#eb7b7b');
                $('#like-button-icon-thumb-'+feed_id).css('color','#eb7b7b');
            }
        },
        error: function(error) {
            console.log(error);
        }
    });
}
</script>
{% endblock %}
