{% extends "base.html" %}
{% block content %}
    <style type="text/css">


.custom-tag-button {
    border: 1px solid #dddddd;
    border-radius: 1px;
    background: white;
    color: #aaaaaa;
    padding:3px 7px 3px 7px;
}
    #all_photos_container {
        background-color: #FFFFFF;
    }
    #photos_container {
        background-color:inherit;
        width: 100%;
        float: left;
        margin:0;
        height: 300px;
        border-bottom: 1px solid #DDDDDD;
    }
    hr.photos {
        /*
        width: 98%;
        */
         border: thin solid #dddddd;
    }
    .photos-contents-list-container {
        background-color: #FFFFFF;
        /*
        margin-left: -20px;
        */
        border: 1px solid #DDDDDD;
        margin-bottom: 10px;
    }
    .photos-contents-list-container-items {
    }
    .photos-contents-list-container-item {
        margin: 5px 5px 5px 5px;
    }
card_header {
  display: block;
  overflow: hidden;
  position: relative;

  }

.card_container {
    outline: 0; 
    width: 100%;
    position: relative;
    float: left;
    margin: 1px 1px 1px 1px;

  background-color: #ffffff;
    border: 1px solid #dddddd;

  }

.card_custom_body {
    padding-top: 15px;
    padding-left:25px;
    padding-right:25px;
    height: 70px;
}

.bg {
  border-bottom: 0px solid #5cc0ff;
  max-width: 100%;
  height:270px;
} 

    </style>
    <script type="text/javascript">
function addParameterToURL(param){
    _url = location.href;
    if ( _url.split('?')[1] ) {
        var prevParams = _url.split('?')[1].split('&');
        if ( !prevParams ) prevParams = [_url.split('?')[1]];
        _url = _url.split('?')[0];
        var first = true;
        var key = param.split('=')[0];
        var change = false;
        for ( var prevParam in prevParams ) {
            prevParam = prevParams[prevParam];
            curKey = prevParam.split('=')[0];
            if ( curKey == key ) {
                _url += ((first?'?':'&')+param);
                change = true;
            } else {
                _url += ((first?'?':'&')+prevParam);
            }
            first = false;
        }
        if ( !change ) _url += '&'+param;
    } else {
        _url += '?'+param;
    }
    return _url;
}
function delParameterToURL(param) {
    _url = location.href;
    if ( _url.split('?')[1] ) {
        var prevParams = _url.split('?')[1].split('&');
        if ( !prevParams ) prevParams = [_url.split('?')[1]];
        _url = _url.split('?')[0];
        var first = true;
        var key = param.split('=')[0];
        var change = false;
        for ( var prevParam in prevParams ) {
            prevParam = prevParams[prevParam];
            curKey = prevParam.split('=')[0];
            if ( curKey == key ) {
            } else {
                _url += ((first?'?':'&')+prevParam);
            first = false;
            }
        }
    }
    return _url;
}
function redirect(url) {
    window.location.href=url;
}
    </script>
<div class="container main-container nav-margin">
 <style>
    .nav-stacked li {
        border-bottom:0px;
    }
    .panel-heading,
    .panel-body{
        padding-left:16px;
        padding-top: 16px;
        padding-bottom:16px;
    }
    .panel-title {
        font-size: 14px;
        font-weight: bold;
    }
    .panel-default > .panel-heading {
        background:#ffffff;
        border-top:0px;
        border-bottom:0px;
    }
    .nav-stacked > li a {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    </style>
    <div class="row" style="padding-top:19px;">
        <div class="col-lg-3 col-md-3 col-sm-12" style="padding-right:0px;width:20%;">
            {% include "photos_category.html" %}
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12" style="width:80%;">
            <div class="photos-contents-list-container" style="padding-left:15px;padding-right:20px;">
                <div class="photos-contents-list-container-items">
                    <ul class="breadcrumb" style="border:0px;margin:0px;padding:0px;padding-top:16px;padding-bottom
:16px;padding-left:5px;">
                        <li><a href="/photos" style="color:#84bd5e;">갤러리</a></li>
                        {% if feed_category_id %}
                        <li><a href="/photos/{{ feed_category_id }}" style="color:#84bd5e;">{{ feed_category_name }}</a></li>
                        {% endif %}
                        {% if not feed_category_id %}
                        <li><a href="/photos/" style="color:#84bd5e;">{{ feed_category_name }}</a></li>
                        {% endif %}
<span class="pull-right" style="margin-top:-6px;">
                            <div class="change-view " style="height:34px;">
                                <a style="margin-left:0px;" onclick="redirect(addParameterToURL('is_grid=True'));" title="Grid" class=""> <i class="fa fa-th"></i> </a>
                                <a style="margin-left:0px;" onclick="redirect(delParameterToURL('is_grid'));" title="List" class=""><i class="fa fa-th-list"></i></a>
                            </div>
                        </span>
                    </ul>
                    <hr style="margin:0px;padding:0px;margin-left:5px;">
                    <!--
                    <div style="padding-left:5px;">
                        <div class="pull-right" style="padding:10px;">
                            1-12페이지 총 {{ feed_category_name }}  <strong>{{ feed_count }}</strong>장 사진
                            <button class="btn " style="background:#ffffff;border:1px solid #dddddd;width:35px;"><i
 class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                    -->
                    <hr style="margin:0px;padding:0px;margin-top:60px;margin-left:5px;">

                    <div class="xsResponse clearfix" style="margin-bottom:40px;">
                        <div id="all_photos_container" style="padding-top:10px;">
                            {% for feed in feeds %}
                            <div class="col-lg-4 col-md-4 col-sm-12" style="padding:5px 5px 5px 5px;">
                                <div class="card_container"> 
                                    <div class="card_header">
                                        <script type="text/javascript">
var previous_url = '?previous_url='+window.location.href;
openFeed = function(feed_id) {
    location.href="/company_feed_detail/"+feed_id+previous_url;
}
                                        </script>
                                        <a href="javascript:openFeed({{ feed.feed.id }});">
                                        <div class="bg" id="photos_background_image" style="background: url({{ ('/static/'+feed.image_path)|resize('400x400') }});
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center;
                                            ">
                                        </div>
                                    </a>
                                    <div id="photos_body" style="height:54px;">
                                        <div style="display:table-cell;vertical-align:middle;padding-left:10px;padding-top:5px;">
                                            <a href="/company_portfolio/{{ feed.user.id }}"><h5 style="vertical-align:middle; padding-bottom:0px;color:#ababab;">{{ feed.user.username }}</h5></a>
                                        </div>
                                        <a href="javascript:openFeed({{ feed.feed.id }});">
                                            <h4 style="font-weight:bold;padding: 1px 0px 2px 10px;">
                                                {{ feed.feed.title[:18] }}
                                                {% if (feed.feed.title|length) >= 18 %}
                                                ..
                                                {% endif %}
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">
$(window).scroll(function() {
    if ($(window).scrollTop() == $(document).height() - $(window).height()) {
        $.ajax({
            async : true,
            type : "POST",
        {% if feed_category_id == 0 %}
            url : "{{ url_for('photos') }}",
        {% endif %}
            data : { offset: "{{ offset+10 }}" },
            success: function(result) {
                $("#main-contents-container").html(result);
            }
        });
    }
});
$(document).ready(function() {
        $('#nav-dropdown-toggle-1').css('color','#84bd5e');
        $('#nav-dropdown-toggle-1').hover(function() {
            });
        });
</script>
<script type="text/javascript">
function likePost(feed_id) {
    var data = {
    "user_id": {{ session['user_id'] }},
    "feed_id": feed_id
    };
    $.ajax({
        url: '/like_post',
        data: data,
        type: 'POST',
        success: function(response) {
            var jsonData = JSON.parse(response);
            if ( jsonData["is_liked"] ) {
                $('#like-button-'+feed_id).css('color','#777777');
                $('#like-button-'+feed_id).css('font-weight','400');
                $('#like-button-'+feed_id).text(jsonData['number_of_like']+' 좋아요');
                $('#like-button-icon-circle-'+feed_id).css('color','#777777');
                $('#like-button-icon-thumb-'+feed_id).css('color','#777777');
            } else {
                $('#like-button-'+feed_id).css('color','#3B5998');
                $('#like-button-'+feed_id).css('font-weight','600');
                $('#like-button-'+feed_id).text(jsonData['number_of_like']+' 좋아요');
                $('#like-button-icon-circle-'+feed_id).css('color','#3B5998');
                $('#like-button-icon-thumb-'+feed_id).css('color','#3B5998');
            }
        },
        error: function(error) {
            console.log(error);
        }
    });
}
</script>
{% endblock %}
