{% extends "base.html" %}
{% block content %}
<style type="text/css">
    * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

card_header {
  display: block;
  overflow: hidden;
  position: relative;

  }

.card_container {
    outline: 0;
    width: 100%;
    height: 450px;
    /*
    max-width:32%;
    */
    position: relative;
    float: left;
    margin: 5px 1px 5px 1px;

  background-color: #ffffff;

  }

.card_custom_body {
    padding-left:25px;
    padding-right:25px;
}

.bg {
  border-bottom: 0px solid #5cc0ff;
  max-width: 100%;
  height:450px;
}

.bio:hover > .card_desc {
  cursor: pointer;
  opacity: 1;
}

.custom_jumbo{
  width:100%;
  z-index:1;
  height:150px;
  background-color:#576782;
  position:relative;
}

.custom_jumbo_navbar {
    width: 100%;
    height: 50px;
    background-color:#FFFFFF;
    position: relative;
}
.custom_jumbo_container{
  width:100%;
    height: 100%;
  min-width:320px;
  margin: 0px auto;
  padding:20px 0;
}
.custom_jumbo_container h1{
  font-size:40px;
  color:#fff;
    margin-top: 30px;
    vertical-align: middle;
}

.custom_jumbo_container h2{
  font-size:15px;
  color:#ddd;
  line-height: 23px;
  vertical-align: middle;
  text-align: center;
}
#leftside_container {
    position: absolute;
    width: 240px;
    padding: 0;
    margin: 0;
    margin-top: 150px;
}
#rightside_container {
    position: relative;
    margin: 180px 0px 0px 240px;
}
#custom_jumbo_navbar_wrapper {
    position: relative;
    margin: 0px 0px 0px 200px;
    vertical-align: middle;
}
.profile_container {
    height:168px;
    width: 168px;
    z-index: 2;
    background-color: #000;
    margin-left: 20px;
}

    #all_photos_container {
        background-color: #FFFFFF;
    }
    #photos_container {
        background-color:inherit;
        width: 100%;
        float: left;
        margin:0;
        height: 250px;
    }
    #photos_background_image {
        position: absolute;
        width: 400px;
        height: 240px;
        margin: 5px 5px 5px 5px;
    }
    #photos_body {
        position: relative;
        margin: 0px 0px 0px 420px;
    }
    hr.photos {
        margin: 10px 10px 10px 10px;
        /*
        width: 98%;
        */
        color: #f5f5f5; border: thin solid #f5f5f5;
    }

</style>

{% include "modal_delete_confirm.html" %}
<div class="visible-xs">
    {% include "project_detail_mobile.html" %}
</div>
<div class="hidden-xs">
{% include "company_portfolio_navbar.html" %}

<style>
    .nav-stacked li {
        border-bottom:0px;
    }
    .panel {
        border: 0px;
    }
    .panel-title {
        font-size: 14px;
        font-weight: bold;
    }
    .panel-default > .panel-heading {
        background:#ffffff;
        border-top:0px;
        border-bottom:0px;
    }
    .nav-stacked > li a {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    </style>
<div class="container main-container " style="margin-top:0px;background-color:#FFFFFF;border:1px solid #dddddd;border-top:0px;margin-bottom:10px;">
    <div class="row" style="padding-top:25px;height:222px;">
        <div class="col-lg-2 col-md-2 col-sm-12" style="padding-left:20px;padding-right:8px;">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding:0px 0px 16px 0px;">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseCategory-space" class="collapseWill">
                            프로젝트
                        </a>
                    </h4>
                </div>
                <div id="collapseCategory-space" class="panel-collapse collapse in">
                    <div class="panel-body" style="padding:0px 0px 16px 0px;">
                        <ul class="nav nav-pills nav-stacked tree">
                            {% for project in ret.projects %}
                            <li>
                            <a href="/project_detail/{{project.id}}">
                                {{ project.project_name }}
                            </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12" style="padding-right:10px;padding-left:0px;">
            <h5 style="padding-bottom:30px; font-size:23px;font-weight:bold;color:#323232;padding-left:10px;padding-right:10px;">
                {{ ret.project.project_name }}
                {% if ('logged_in' in session) and (session['user_id'] == ret.user.id or session['level'] == 99) %}
                <div class="pull-right">
                    <button class="btn btn-primary" id='edit-button'>
                        수정하기
                    </button>
                    <button data-toggle="modal" name="delete-button" data-target="#modal-delete" class="btn btn-danger">삭제하기 </button>
                </div>
                {% endif %}
            </h5>
        <h5 style="padding-bottom:0px;padding-left:10px;padding-right:10px;" id="project-body">
            {{ ret.project.project_body }}
        </h5>
        <hr style="margin-left:10px;margin-right:10px;">
            <div  id="feed_container" style="margin-top:10px;overflow:hidden;">
                    {% for feed in ret.feeds %}
                        <div class="col-lg-6 col-md-6 col-sm-12" style="padding:10px 10px 10px 10px;">
                    <div class="card_container ">
                        <card_header>
                        <div class="bio">
                            <script type="text/javascript">
var previous_url = '?previous_url='+window.location.href;
openFeed = function(feed_id) {
    location.href="/company_feed_detail/"+feed_id+previous_url;
}
                            </script>
                            <a href="javascript:openFeed({{ feed.feed.id }});">
                                    <div class="bg" style="background: url({{ '/static/'+feed.image_path }});
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center;
                                            ">
                                    </div>
                                </a>
                            </div>
                        </card_header>
                    </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    $('#edit-button').click(function() {
        window.location.href = '/project_detail_edit/{{ ret.project.id }}';
    });
    $('#delete-confirm').click(function() {
        var data = {
            "project_id": "{{ ret.project.id }}"
        };
        $.ajax({
            url: '/delete_project',
            data: data,
            type: 'POST',
            success: function(response) {
            console.log(response);
            window.location.href="{{url_for('company_portfolio',user_id=ret.user.id)}}";
            },
            error: function(error) {
                console.log(error);
            }
        });
    }); 
</script>
</div>
{% endblock %}
