{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static',filename='js/jquery.shapeshift.min.js') }}"></script>
<style type="text/css">
    * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

card_header {
  display: block;
  overflow: hidden;
  position: relative;

  }

.card_container {
    width: 400px;
    /*
    max-width:32%;
    */
    position: absolute;

  background-color: #ffffff;

  }

.card_custom_body {
    padding-left:25px;
    padding-right:25px;
}

.bg {
  border-bottom: 0px solid #5cc0ff;
  max-width: 100%;
  height:250px;
}

.bio:hover > .card_desc {
  cursor: pointer;
  opacity: 1;
}

.custom_jumbo{
  width:100%;
  z-index:1;
  height:150px;
  background-color:#576782;
  position:relative;
}

.custom_jumbo_navbar {
    width: 100%;
    height: 50px;
    background-color:#FFFFFF;
    position: relative;
}
.custom_jumbo_container{
  width:100%;
    height: 100%;
  min-width:320px;
  margin: 0px auto;
  padding:20px 0;
}
.custom_jumbo_container h1{
  font-size:40px;
  color:#fff;
    margin-top: 30px;
    vertical-align: middle;
}

.custom_jumbo_container h2{
  font-size:15px;
  color:#ddd;
  line-height: 23px;
  vertical-align: middle;
  text-align: center;
}
#leftside_container {
    position: absolute;
    width: 240px;
    padding: 0;
    margin: 0;
    margin-top: 40px;
}
#rightside_container {
    position: relative;
    margin: 0px 0px 0px 240px;
}
#custom_jumbo_navbar_wrapper {
    position: relative;
    margin: 0px 0px 0px 200px;
    vertical-align: middle;
}
.profile_container {
    height:168px;
    width: 168px;
    z-index: 2;
    background-color: #000;
    margin-left: 20px;
}

    #all_photos_container {
        background-color: #FFFFFF;
    }
    #photos_container {
        background-color:inherit;
        width: 100%;
        float: left;
        margin:0;
        height: 250px;
    }
    #photos_background_image {
        position: absolute;
        width: 400px;
        height: 240px;
        margin: 5px 5px 5px 5px;
    }
    #photos_body {
        position: relative;
        margin: 0px 0px 0px 420px;
    }
    hr.photos {
        margin: 10px 10px 10px 10px;
        /*
        width: 98%;
        */
        color: #f5f5f5; border: thin solid #f5f5f5;
    }

</style>

{% include "company_portfolio_navbar.html" %}

<div class="container main-container " style="margin-top:20px;">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="panel panel-default">
                <div id="collapseCategory" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked tree">
                            <li class="active dropdown-tree open-tree"><a class="dropdown-tree-a" > <span
                                    class="badge pull-right">{{ ret.projects | length }}</span> 프로젝트</a>
                                <ul class="category-level-2 dropdown-menu-tree">
                                    {% for project in ret.projects %}
                                    <li class="dropdown-tree"><a class="dropdown-tree-a" href="/project_detail/{{ project.id }}">
                                        {{ project.project_name }}
                                    </a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
            프로젝트 명
            <br>
            <input type="text" id='project-name' value='{{ ret.project.project_name }}' placeholder='{{ ret.project.project_name }}' style="width: 75%;">
            <div class="pull-right"><button class="btn btn-primary" id='edit-button'>완료</button> <button class="btn btn-danger" id='cancel-button'>취소</button></div>
        <hr>
        <h5 style="padding-bottom:0px;" >
            프로젝트 설명
            <br>
            <input type="text" id='project-body' value='{{ ret.project.project_body }}' placeholder='{{ ret.project.project_body }}' style="width: 75%;">
        </h5>
        <hr>
        드래그로 사진 순서를 바꿀 수 있습니다.
        <br>
        피드수정 및 태그수정은 사진 클릭 후 가능합니다.
                <div class="container-shapeshift" style="position:relative;">
                    {% for feed in ret.feeds %}
                    <div class="card_container " id="container-{{feed.feed.id}}"> 
                        <card_header>
                        <div class="bio">
                            <script type="text/javascript">
var previous_url = '?previous_url='+window.location.href;
openFeed = function(feed_id) {
    location.href="/company_feed_detail/"+feed_id+previous_url;
}
                            </script>
                            <a href="javascript:openFeed({{ feed.feed.id }});">
                                    <div class="bg" style="background: url({{ '/static/'+feed.image_path }});
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center;
                                            ">
                                    </div>
                                </a>
                            </div>
                        </card_header>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".container-shapeshift").shapeshift();
    });
    $('#edit-button').click(function() {
            ids = {};
        $('.container-shapeshift').children().each(function(index, value) {
            var id = $(this).attr('id');
            ids[index] = id;
        });
        var index = 0;
        original_ids = {};
        {% for feed in ret.feeds %}
        original_ids[index] = 'container-'+{{feed.feed.id}};
        index = index + 1;
        {% endfor %}
        var project_name = $('#project-name').val();
        var project_body = $('#project-body').val();
        var data = {
            ids: ids,
            original_ids: original_ids,
            feed_size: {{ ret.feeds | length }},
            project_name: project_name,
            project_body: project_body,
            project_id: {{ ret.project.id }}
        };
        $.ajax({
            url: '/project_detail_edit_done',
            data: data,
            type: 'POST',
            success: function(response) {
                window.location.href = '/project_detail/{{ ret.project.id }}';
            },
            error: function(error) {
                console.log(error);
            }
        });

    });
    $('#cancel-button').click(function() {
        window.location.href = '/project_detail/{{ ret.project.id }}'
    });
</script>
{% endblock %}
