{% extends "base.html" %}
{% block content %}
<style>
.flash {
color: red;
}
#cur_password,
#next_password,
#next_password_check{
    width:100%;
}
</style>
<div class="container main-container nav-margin" style="background:white;border-bottom:1px solid #dddddd;margin-bottom:10px;padding:35px 170px 40px 170px;">
    <h1 style="padding-bottom:54px;">
        이메일 주소를 입력해주세요.
    </h1>
    <form action="{{ url_for('change_password',user_id=session['user_id']) }}" method=post>
        {{ changePasswordForm.hidden_tag() }}
        {% for message in changePasswordForm.cur_password.errors %}
        <div class="flash">{{message}}</div>
        {% endfor %}
        {{ changePasswordForm.cur_password(placeholder='현재 비밀번호 ') }}
        <br>
        {% for message in changePasswordForm.next_password.errors %}
        <div class="flash">{{message}}</div>
        {% endfor %}
        {{ changePasswordForm.next_password(placeholder='변경할 비밀번호 ') }}
        <br>
        {% for message in changePasswordForm.next_password_check.errors %}
        <div class="flash">{{message}}</div>
        {% endfor %}
        {{ changePasswordForm.next_password_check(placeholder='변경할 비밀번호 ') }}
        <input name="submit" style="background:#84bd5e;width:100px;" class="btn  btn-primary pull-right" value="입력" type="submit">
    </form>
</div>
<script>
$(document).ready(function() {
    $('body').css('background','white');
});
</script>
{% endblock %}
