<div class="panel panel-default" style="border-left:0px;border-right:0px;">
    <div class="w100 productFilter clearfix" style="border-top:0px;margin-bottom:0px;">
        <p class="pull-left" style="font-size:20px;margin-left:10px;"> {{ ret.shop_category_name }}  <strong>{{ ret.cur_category_product_count }}</strong> 제품  </p>
    <button id="filter-button" class="btn btn-primary" style="width:95%;margin:5px 10px 10px 10px;">필터</button>
        <script>
        $('#filter-button').click(function() {
            var $filter_wrapper = $('#mobile-collapseCategory');
            if ($filter_wrapper.is(':visible')) {
                $filter_wrapper.hide();
            } else {
                $filter_wrapper.show();
            }
        });
        </script>
    </div>
    <div id="mobile-collapseCategory" class="panel-collapse collapse in" style="display:none;">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked tree">
                <li class="active dropdown-tree open-tree">
                <a class="dropdown-tree-a"> 가구 </a>
                <ul class="category-level-2 dropdown-menu-tree">
                    {% for category in ret.category %}
                    <li class="dropdown-tree">
                    <a href="/shop/{{ category.category_id }}">
                        {{ category.category_name }}
                    </a>
                    <ul class="category-level-3 dropdown-menu-tree">
                        {% for child_category in category.child_categories %}
                        <li><a href="/shop/{{ child_category.category_id }}"> {{ child_category.category_name }}</a></li>
                        {% endfor %}
                    </ul>
                    </li>
                    {% endfor %}
                </ul>
                </li>
                <li class="active dropdown-tree ">
                <a class="dropdown-tree-a"> 스타일 </a>
                <ul class="category-level-2 dropdown-menu-tree">
                    <li><a href="#"> 모던 </a></li>
                    <li><a href="#"> 북유럽</a></li>
                    <li><a href="#"> 빈티지</a></li>
                    <li><a href="#"> 내츄럴</a></li>
                    <li><a href="#"> 프로방스</a></li>
                    <li><a href="#"> 클래식+앤틱</a></li>
                    <li><a href="#"> 오리엔탈</a></li>
                    <li><a href="#"> 유니크</a></li>
                    <li><a href="#"> 기타</a></li>
                </ul>
                </li>

                <li class="active dropdown-tree ">
                <a class="dropdown-tree-a"> 가격 </a>
                <ul class="category-level-2 dropdown-menu-tree">
                    <input style="width:40px;"></input>
                    ~
                    <input style="width:40px;"></input>
                    <i class="fa fa-play-circle-o"></i>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
